.add-catalog {
  margin: 0;
  padding: 0;
  background-color: $white;
  min-width: 320px;
}

.add-catalog__container {
  padding: 0;
  margin: 0;

  margin: 0 20px;
}

.add_-catalog__flex-block {
  @include list-reset;
}

.add-catalog__title {
  padding: 0;
  margin: 0;
  padding: 17px 0 24px;
}

.add-catalog__title-text {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
    height: 2px;
    background-color: #68b738;
    z-index: -1;
    left: 0;
  }
}

.add-catalog__list {
  @include list-reset;

}

.add-catalog__item {
  @include list-reset;
  border-top: 1px solid #CDCDCD;
  margin-top: 7px;
  padding-bottom: 8px;

  &:last-child {
    padding-bottom: 19px;
    border-bottom: 1px solid #CDCDCD;
    ;
  }
}

.add-catalog__subtitle {
  color: $black;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.add-catalog__text-flex {
  @include list-reset;
}

.add-catalog__span-flexbox {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.add-catalog__subtext {
  line-height: 14px;
}

.add-catalog__link {
  margin: 0;
  padding: 0;
  padding: 10px 44px;
  background-color: $basic-green;
  display: block;
}

.add-catalog__active {
  margin: 0;
  padding: 0;
  min-width: 280px;
  height: auto;
  background: linear-gradient(rgb(104 183 56 / 0.85),
      rgb(104 183 56 / 0.85)), url('../img/cat-inbox.png') no-repeat;
  background-size: cover;
  box-sizing: border-box;
  text-align: center;
  padding: 59px 61px 43px 58px;
}


.add-catalog__cat-image-xl-1 {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}

.add-catalog__order-text {
  margin: 0;
  padding: 0;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  min-width: 161px;
}

.add-catalog__image-cat {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 35px;
}

.add-catalog__cat-image-xl-1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background: $basic-green;
}

.add-catalog__link-block {
  min-width: 280px;
}

@media (min-width: $tablet-width) {
  .add-catalog__container {
    margin: 0 30px;
    min-width: 708px;
    margin-bottom: 75px;
  }

  .add-catalog__text-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .add-catalog__link-block {
    width: 100%;
  }

  .add-catalog__title-text {
    font-size: 36px;
    line-height: 36px;
  }

  .add-catalog__title {
    padding: 67px 36px 80px;
  }

  .add_-catalog__flex-block {
    margin: 0;
    padding: 0;
  }

  .add-catalog__item {
    margin: 0;
    padding: 0;
    padding: 26px 38px 0;
    padding-bottom: 28px;
    border: 1px solid #CDCDCD;

    &:last-child {
      padding-bottom: 30px;
    }
  }

  .add-catalog__image-cat {
    margin-top: 69px;
  }

  .add-catalog__active {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    width: 100%;
    background-position: center;
  }

  .add-catalog__cat-image-xl-1 {
    position: absolute;
    width: 80px;
    height: 82px;
    top: 56px;
    left: 77px;
  }

  .add-catalog__order-text {
    position: absolute;
    top: 70px;
    right: 124px;
    text-align: left;
  }

  .add-catalog__subtitle {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .add-catalog__subtext {
    font-size: 16px;
    line-height: 20px;
  }

  .add-catalog__span-flexbox {
    margin-bottom: 23px;
  }

  .add-catalog__subtext--right {
    margin-left: 49px;
  }

  .add-catalog__link {
    font-size: 16px;
    padding: 10px 0;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .add-catalog__container {
    min-width: 1220px;
    margin: 0 110px;
  }

  .add_-catalog__flex-block {
    display: flex;
    flex-wrap: wrap;

  }

  .add-catalog__text-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

  }

  .add-catalog__list {
    max-width: 894px;
  }

  .add-catalog__item {
    display: flex;
    width: 894px;

  }

  .add-catalog__image-cat {
    width: 245px;
  }
}
