.add-catalog {
  margin: 0;
  padding: 0;
  background-color: $white;
  min-width: 320px;
  position: relative;
  width: 100%;

  &::after {
    position: absolute;
    top: 30px;
    content: "";
    height: 2px;
    width: 100%;
    background-color: $basic-green;
    z-index: 1;
  }
}

.add-catalog__container {
  padding: 0;
  margin: 0 20px;
}

.add_-catalog__flex-block {
  @include list-reset;
}

.add-catalog__title {
  margin: 0;
  padding: 17px 0 24px;
}

.add-catalog__title-text {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: "Oswald", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  z-index: 2;
}

.add-catalog__list {
  @include list-reset;
}

.add-catalog__item {
  @include list-reset;
  border-top: 1px solid #cdcdcd;
  margin: 10px 0 0;
  padding: 0;

  &:last-child {
    padding-bottom: 19px;
    border-bottom: 1px solid #cdcdcd;
  }

  &:not(:first-child) {
    margin-top: 18px;
  }
}

.add-catalog__subtitle {
  color: $black;
  font-family: "Oswald", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 13px;
  margin-top: 13px;
}

.add-catalog__text-flex {
  @include list-reset;
}

.add-catalog__span-flexbox {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 15px;
}

.add-catalog__subtext {
  line-height: 14px;
}

.add-catalog__link {
  margin: 0;
  padding: 10px 44px;
  background-color: $basic-green;
  display: block;
  transition: 0.3s all;

  &:hover {
    transition: 0.3s all;
    background-color: $basic-green-state;
  }

  &:focus {
    transition: 0.3s all;
    background-color: $basic-green-state;
  }

  &:active {
    transition: 0.3s all;
    background-color: $basic-green-state;
    color: rgba(255, 255, 255, 30%);
  }
}

.add-catalog__active {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: linear-gradient(rgb(104 183 56 / 0.85),
      rgb(104 183 56 / 0.85)), url('../img/cat/image-cat.jpg') no-repeat;
  background-size: cover;
  box-sizing: border-box;
  text-align: center;
  padding: 59px 61px 43px 58px;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(rgb(104 183 56 / 0.85),
        rgb(104 183 56 / 0.85)), url('../img/cat/image-cat@2x.jpg') no-repeat;
    background-size: cover;
  }
}

.add-catalog__cat-image-xl-1 {
  fill: $white;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
}

.add-catalog__order-text {
  margin: 0;
  padding: 0;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  min-width: 161px;
}

.add-catalog__image-cat {
  padding: 0;
  margin: 0;
  margin: 33px 0 35px;
}

.add-catalog__cat-image-xl-1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background: $basic-green;
}

.add-catalog__link-block {
  min-width: 280px;
}

.add-catalog__title-text--dop {
  background-color: $white;
  margin-left: -20px;
  padding-left: 20px;
  width: 247px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    margin-left: -40px;
    padding-left: 40px;
    width: 374px;
  }

  @media (min-width: $desktop-width) {
    background-color: $white;
    margin-left: -40px;
    padding-left: 40px;
    width: 374px;
  }
}

@media (min-width: $tablet-width) {
  .add-catalog__container {
    margin: 0 30px;
    min-width: 708px;
    margin-bottom: 75px;
  }

  .add-catalog {
    position: relative;
    width: 100%;

    &::after {
      position: absolute;
      top: 90px;
      content: "";
      height: 2px;
      width: 100%;
      background-color: $basic-green;
      z-index: 1;
    }
  }


  .add-catalog__text-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .add-catalog__link-block {
    width: 100%;
  }

  .add-catalog__title-text {
    font-size: 36px;
    line-height: 36px;
  }

  .add-catalog__title {
    padding: 67px 36px 81px;
  }

  .add_-catalog__flex-block {
    margin: 0;
    padding: 0;
  }

  .add-catalog__item {
    margin: 0;
    padding: 26px 38px 26px;
    border: 1px solid #cdcdcd;

    &:last-child {
      padding-bottom: 24px;
    }

    &:not(:first-child) {
      margin-top: 0;
    }
  }

  .add-catalog__image-cat {
    margin-top: 71px;
  }

  .add-catalog__active {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    width: 100%;
    background-position: center;
  }

  .add-catalog__cat-image-xl-1 {
    position: absolute;
    width: 80px;
    height: 82px;
    top: 56px;
    left: 77px;
  }

  .add-catalog__order-text {
    position: absolute;
    top: 70px;
    right: 124px;
    text-align: left;
  }

  .add-catalog__subtitle {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .add-catalog__subtext {
    font-size: 16px;
    line-height: 20px;
  }

  .add-catalog__span-flexbox {
    margin-bottom: 23px;
    margin-top: 3px;
  }

  .add-catalog__subtext--right {
    margin-left: 50px;
    margin-right: 4px;
  }

  .add-catalog__link {
    font-size: 16px;
    padding: 10px 0;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .add-catalog {
    min-width: 1220px;
    margin: 0 auto;
    margin-bottom: 52px;
  }

  .add-catalog__container {
    min-width: 1220px;
    margin: 0 auto;
    max-width: 1220px;
  }

  .add-catalog__flex-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .add-catalog__list {
    width: 894px;
  }

  .add-catalog__item {
    display: flex;
    max-width: 894px;
    padding: 14px 0 17px;
    border: none;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
  }

  .add-catalog__item:last-child {
    padding-bottom: 15px;
  }

  .add-catalog__image-cat {
    width: 245px;
    margin-top: 0;
  }

  .add-catalog__title {
    padding: 73px 0 80px;
  }

  .add-catalog__link {
    width: 100%;
  }

  .add-catalog__text-flex {
    min-width: 650px;
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .add-catalog__span-flexbox {
    display: grid;
    grid-template-columns: 1fr max-content;
    margin: 0;
    padding: 0;
    margin: auto 0;
    margin-top: 13px;
  }

  .add-catalog__subtitle {
    margin: auto 0;
  }

  .add-catalog__subtext--right {
    margin-right: 43px;
    max-width: 50px;
  }

  .add-catalog__subtext--desktop {
    margin-right: 52px;
  }

  .add-catalog__active {
    width: 245px;
    height: 288px;
    background-position: 115%;
  }

  .add-catalog__cat-image-xl-1 {
    position: absolute;
    width: 80px;
    height: 82px;
    top: 56px;
    left: 84px;
  }

  .add-catalog__order-text {
    position: absolute;
    text-align: center;
    padding-top: 186px;
    top: 0;
    left: 41px;
  }

  .add-catalog {
    position: relative;
    width: 100%;

    &::after {
      position: absolute;
      top: 97px;
      content: "";
      height: 2px;
      width: 100%;
      background-color: $basic-green;
      z-index: 1;
    }
  }
}
