.catalog {
  margin: 0;
  padding: 0;
  background-color: $white;
}

.catalog__wrapper {
  margin: 0 auto;
  margin-bottom: 8px;
  color: $black;
  text-transform: uppercase;
}

.catalog__subtext {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
}

.catalog__sublink {
  margin: 0;
  padding: 0;
  color: #444;
  margin-bottom: 25px;
}

.catalog__sublink--font-color {
  background-color: $basic-grey;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.catalog__list {
  @include list-reset;
}

.catalog__card-item {
  margin: 0;
  padding: 20px 20px 24px;
  border-bottom: 1px solid #ebebeb;
}

@media (min-width: $tablet-width) {
  .catalog {
    min-width: 708px;
    max-width: 708px;
    margin: 0 auto;
    justify-content: center;
  }

  .catalog__wrapper {
    min-width: 708px;
    margin: 0 auto;
    justify-content: center;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    grid-column-gap: 60px;
    grid-row-gap: 141px;
  }

  .catalog__card-item {
    max-width: 324px;
    padding: 20px 0 24px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    min-width: 1220px;
    max-width: 1220px;
    margin: 0 auto;
    justify-content: center;
  }

  .catalog__wrapper {
    min-width: 1220px;
    max-width: 1220px;
    margin: 0 auto;
    justify-content: center;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-column-gap: 80px;
    grid-row-gap: 143px;
  }
}
