.cooperation {
  @include list-reset;
  background-color: $white;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.cooperation__wrapper {
  @include list-reset;
  width: 320px;
  margin: 0 auto;
}

.cooperation__inner {
  @include list-reset;
}

.cooperation__container {
  @include list-reset;
  max-width: 320px;
  padding: 26px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cooperation__title {
  @include list-reset;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  max-width: 139px;
  color: $black;
  text-transform: uppercase;

}

.cooperation__street {
  @include list-reset;
  line-height: 20px;
  text-align: left;
  max-width: 139px;
}

.cooperation__map {
  @include list-reset;
  width: 100%;
  height: 362px;
}

.cooperation__map-height {
  width: 100%;
  height: 362px;
}

@media (min-width: $tablet-width) {
  .cooperation {
    min-width: 768px;
    margin: 0 auto;
    justify-content: center;
  }

  .cooperation__wrapper {
    width: 768px;
    margin: 0 auto;
  }

  .cooperation__container {
    max-width: 708px;
    padding: 60px 70px 60px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }

  .cooperation__title {
    font-size: 20px;
    line-height: 26px;
    max-width: 172px;
  }

  .cooperation__street {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    max-width: 160px;

    &--mg {
      margin-bottom: 15px;
    }
  }

  .cooperation__map {
    height: 400px;
  }

  .cooperation__map-height {
    height: inherit;
  }
}

@media (min-width: $desktop-width) {
  .cooperation {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
  }

  .cooperation__wrapper {
    position: relative;
  }

  .cooperation__container {
    position: absolute;
    max-width: 565px;
    padding: 60px 80px 56px 80px;
    top: 95px;
    left: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $white;
  }

  .cooperation__map {
    height: 400px;
  }

  .cooperation__map-height {
    height: 400px;
  }
}
