.cooperation {
  background-color: $white;
}

.cooperation__wrapper {
  @include list-reset;
}

.cooperation__inner {
  @include list-reset;
}

.cooperation__container {
  display: flex;
  flex-wrap: wrap;
  padding: 26px 20px;
  min-width: 280px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.cooperation__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  max-width: 139px;
  color: $black;
  text-transform: uppercase;

}

.cooperation__street {
  line-height: 20px;
  text-align: left;
  max-width: 139px;
}

.cooperation__map {
  @include list-reset;
  height: 100%;
  width: 100%;
}
