.cooperation {
  @include list-reset;
  background-color: $white;
  width: 100%;
  margin: 0 auto;
  justify-content: center;

  &--index {
    background-color: $basic-grey;
  }
}

.cooperation__wrapper {
  @include list-reset;
  width: 320px;
  margin: 0 auto;
}

.cooperation__inner {
  @include list-reset;
}

.cooperation__container {
  @include list-reset;
  max-width: 320px;
  padding: 26px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cooperation__container--form {
  background-color: $basic-grey;
}

.cooperation__title {
  @include list-reset;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  max-width: 139px;
  color: $black;
  text-transform: uppercase;

}

.cooperation__street {
  @include list-reset;
  line-height: 20px;
  text-align: left;
  max-width: 139px;
}

.cooperation__map {
  @include list-reset;
  width: 100%;
  height: 362px;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-area: 1 / 1 / 1 / 1;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }

}

.cooperation__map-height {
  width: 100%;
  height: 362px;
  border: none;
  grid-area: 1 / 1 / 1 / 1;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.copperation__nojs {
  width: 100vw;
  height: 362px;
  border: none;
  grid-area: 1 / 1 / 1 / 1;
  z-index: 1;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.copperation__nojs-map {
  width: 100vw;
  height: 362px;
  border: none;
  grid-area: 1 / 1 / 1 / 1;
  z-index: 1;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}


@media (min-width: $tablet-width) {
  .cooperation {
    width: 100%;
    background-color: $white;
    margin: 0 auto;
    justify-content: center;

    &--index {
      background-color: $basic-grey;
    }
  }

  .cooperation__wrapper {
    width: 768px;
    margin: 0 auto;
  }

  .cooperation__container {
    max-width: 708px;
    padding: 56px 70px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;

    &--grey-color {
      background-color: $basic-grey;
    }
  }

  .cooperation__title {
    font-size: 20px;
    line-height: 26px;
    max-width: 172px;
    margin-bottom: 20px;
    margin-top: 4px;
  }

  .cooperation__street {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    max-width: 160px;

    &--mg {
      margin-bottom: 15px;
    }
  }

  .cooperation__map {
    height: 400px;

  }

  .cooperation__map-height {
    height: inherit;
    border: none;
    background: url("../img/location-tablet.png") no-repeat center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/location-tablet@2x.png") no-repeat center;
      background-size: cover;
    }
  }

  .cooperation__street--mg {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .cooperation {
    min-width: 1440px;
    margin: 0 auto;
    justify-content: center;
  }

  .cooperation__wrapper {
    position: relative;
    width: 100%;
  }

  .cooperation__container {
    position: absolute;
    min-width: 410px;
    padding: 61px 79px 40px 78px;
    top: 95px;
    left: 111px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $white;
  }

  .cooperation__map {
    height: 400px;
  }

  .cooperation__title {
    margin-top: 0;
  }

  .cooperation__address {
    margin-top: -6px;
  }

  .cooperation__street--mg {
    margin-bottom: 21px;
  }

  .cooperation__map-height {
    height: 400px;
    border: none;
    background: url("../img/location-desktop.png") no-repeat center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/location-desktop@2x.png") no-repeat center;
      background-size: cover;
    }
  }

  .cooperation__street {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
  }
}
