.example {
  @include list-reset;
  background-color: $basic-grey;
  max-width: 320px;
  margin: 0 auto;
  justify-content: center;
  padding: 0 20px;
  padding-bottom: 8px;
}

.example__wrapper {
  @include list-reset;
  max-width: 280px;
  margin: 0 auto;
  justify-content: center;
}

.example__container {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 31px;
}

.example__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  padding-top: 25px;
  margin-bottom: 30px;
}

.example__text {
  margin: 0;
  padding: 0;
  text-align: left;
  padding-top: 11px;
  margin-bottom: 20px;
}

.example__spanbox-flex {
  @include list-reset;
  position: relative;
  list-style-type: none;
  width: 124px;
  text-align: center;
  padding: 13px 0 17px 0;
  border: 1px solid #cdcdcd;
}

.example__number-span {
  font-family: "Oswald";
  font-size: 24px;
  line-height: 24px;
  color: $black;
}

.example__text-span {
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0 10px;
  text-align: center;
  background: $basic-grey;
  transform: translate(-50%, 52%);
}

.example__price-span {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;

  &:first-child {
    margin-bottom: 9px;
  }
}

.example__price-box {
  color: $black;
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .example {
    @include list-reset;
    position: relative;
    background-color: $white;
    margin: 0 auto;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 174px;
    min-width: 768px;
    padding-bottom: 0;
  }

  .example::before {
    content: '';
    position: absolute;
    width: 100%;
    background: $bg-grey;
    height: 462px;
    left: 0;
    top: 618px;
  }

  .example__wrapper {
    min-width: 708px;
    margin: 0 auto;
  }

  .example__flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 43px;
    margin-bottom: 51px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 56px;
  }

  .example__spanbox-flex {
    width: 162px;
    padding: 15px 0 17px 0;

    &:first-child {
      margin-right: 42px;
    }
  }

  .example__text-span {
    width: 125px;
  }

  .example__number-span {
    font-size: 30px;
    line-height: 37px;
    color: $black;
  }

  .example__text-span {
    background-color: $white;
    font-size: 14px;
    line-height: 14px;
  }

  .example__price-box {
    width: 174px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .example__price-span {
    text-align: right;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    @include list-reset;
    background-color: $white;
    min-width: 1440px;
    margin: 0 auto;
    justify-content: center;
    height: 598px;
  }

  .example__wrapper {
    width: 1220px;
  }

  .example__flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
