.example {
  @include list-reset;
  background-color: $basic-grey;
  padding: 0 20px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.example__wrapper {
  @include list-reset;
  @media (min-width: $desktop-width) {
    max-width: 436px;
  }
}

.example__container {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.example__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
}

.example__text {
  min-width: 280px;
  text-align: left;
}

.example__flexbox {
  display: flex;
  flex-wrap: wrap;
}

.example__spanbox-flex {
  text-align: center;
}

.example__number-span {
  font-family: "Oswald";
  font-size: 24px;
  line-height: 24px;
}

.example__text-span {
  font-size: 12px;
  line-height: 12px;
}

.example__price-span {
  font-family: "Oswald";
  line-height: 20px;
}
