.footer {
  @include list-reset;
  background-color: $basic-grey;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 240px;
  padding-top: 40px;
}

.footer__wrapper {
  @include list-reset;
  max-width: 280px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.footer__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__html-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -10px;
  text-decoration: none;
}

.footer__html-text {
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.footer__block {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #D9D9D9;
}

.footer__logo-link {
  color: #111111;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;

  &:hover {
    opacity: 0.3;
  }

  &:focus {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__html-logo-link {
  margin-top: 7px;
}

.footer__html-logo-link {
  fill: #666;
  transition: 0.3s all;

  &:hover {
    transition: 0.3s all;
    fill: $basic-green;
  }

  &:focus {
    transition: 0.3s all;
    fill: $basic-green;
  }

  &:active {
    transition: 0.3s all;
    fill: $basic-green;
    opacity: 0.3;
  }

  &:disabled {
    transition: 0.3s all;
    opacity: 0.2;
  }
}

.footer__html-link .footer__html-text {
  color: $font-grey;

  &:hover {
    color: $font-grey;
  }

  &:focus {
    color: $font-grey;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    transition: 0.3s all;
    opacity: 0.2;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    min-width: 768px;
    min-height: 147px;
    padding: 0;
  }

  .footer__wrapper {
    max-width: 768px;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px;
  }

  .footer__logo-link {
    width: 143px;
    height: 26px;
    align-self: center;
    display: block;
    margin-right: 0;
    margin-left: 0;
  }

  .footer__list {
    @include list-reset;
    justify-content: space-between;
    margin-left: 26px;
  }

  .footer__block {
    margin-bottom: 0;
    border: none;
    padding: 6px 0 16px;
  }

  .footer__html-link {
    width: 168px;
  }

  .footer__html-text {
    padding: 0;
    margin: 0;
    padding-top: 9px;
  }

  .footer__logo-link .footer__logotype {
    width: 143px;
    height: 26px;
    margin-left: 0;
  }

  .footer__html-logo-link {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    min-width: 1440px;
    padding-top: 12px;
    padding-bottom: 67px;
    min-height: 169px;
  }

  .footer__wrapper {
    min-width: 1220px;
    max-width: 1220px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
  }

  .footer__logo-link {
    margin-left: 0;
  }

  .footer__block {
    padding: 9px 0 16px;
  }

  .footer__list {
    margin: 0 0 0 22px;
  }
}
