.footer {
  @include list-reset;
  background-color: $basic-grey;
  box-sizing: border-box;
  min-width: 320px;
  height: 240px;
  padding: 40px 0;
}

.footer__wrapper {
  @include list-reset;
  max-width: 280px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.footer__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__html-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__html-text {
  font-size: 16px;
  line-height: 19px;
}

.footer__block {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .footer {
    min-width: 768px;
    max-height: 147px;
    padding: 0;
  }

  .footer__wrapper {
    max-width: 768px;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px;
  }

  .footer_logo-link {
    width: 143px;
    height: 26px;
    align-self: center;
    display: block;
  }

  .footer__list {
    @include list-reset;
    justify-content: space-between;
  }

  .footer__block {
    margin-bottom: 0;
  }

  .footer__block-html {}

  .footer__html-link {
    width: 168px;
  }

  .footer__html-text {
    padding: 0;
    margin: 0;
    padding-top: 9px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    min-width: 1440px;
    padding-top: 12px;
    padding-bottom: 67px;
    height: 169px;
  }

  .footer__wrapper {
    min-width: 1220px;
    max-width: 1220px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
  }
}
