.form {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.form__wrapper {
  @include list-reset;
  max-width: 280px;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 25px;
}

.form__wrapper--line {
  position: relative;

  &::after {
    position: absolute;
    top: 15px;
    content: "";
    height: 2px;
    width: 99px;
    background-color: $basic-green;
    z-index: -1;
    right: -20px;
  }
}

.form__wrapper-min {
  @include list-reset;
  max-width: 280px;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;

  &::after {
    position: absolute;
    top: 14px;
    content: "";
    height: 2px;
    width: 158px;
    background-color: $basic-green;
    z-index: -1;
    right: -20px;
  }
}

.form__wrapper--green-line {
  position: relative;

  &::after {
    position: absolute;
    top: 12px;
    content: "";
    height: 2px;
    width: 136px;
    background-color: $basic-green;
    z-index: -1;
    right: -20px;
  }
}

.form__program {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.form__flexbox-block {
  @include list-reset;
}

.form__title {
  margin: 0;
  padding: 0;
  color: $black;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 37px;
}

.form__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  font-family: "Oswald";
  font-weight: 400;
  min-width: 226px;
  margin-bottom: 39px;
  text-transform: uppercase;
}

.form-field__control--comment {
  font-family: "Oswald";
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $font-grey;
  font-size: 16px;
  line-height: 18px;
}

.form-field__control {
  @include list-reset;
  width: 280px;
  height: 150px;
  border: 1px solid #e7e7e7;
  padding: 10px 0 0 0;
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    @include list-reset;
    min-width: 628px;
    max-width: 628px;
    margin: 0 auto;
    justify-content: center;
  }

  .form__wrapper-min {
    position: relative;

    &::after {
      position: absolute;
      top: 15px;
      content: "";
      height: 2px;
      width: 158px;
      background-color: #68B738;
      z-index: -1;
      right: -20px;
    }
  }

  .form-field__control {
    width: 100%;
    min-height: 174px;
    padding: 10px 0 0 19px;
  }

  .form__wrapper-min {
    max-width: 628px;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 10px;

    &::after {
      position: absolute;
      top: 20px;
      content: "";
      height: 2px;
      width: 478px;
      background-color: $basic-green;
      z-index: -1;
      right: -70px;
    }

    &::before {
      position: absolute;
      top: 20px;
      content: "";
      height: 2px;
      width: 30px;
      background-color: $basic-green;
      z-index: -1;
      left: -70px;
    }
  }

  .form__title {
    font-size: 60px;
    line-height: 60px;
  }

  .form__text {
    font-size: 20px;
    line-height: 30px;
  }

  .form-field__control {
    width: calc(100% - 19px);
    margin-top: 40px;

    &--comment {
      font-size: 20px;
      line-height: 30px;
      text-align: left;
    }
  }

  .form__title {
    margin-bottom: 55px;
  }

  .form__text {
    margin-bottom: 62px;
  }

  .form__wrapper--line {
    padding-top: 75px;
    margin-bottom: 65px;

    &::after {    position: absolute;
      top: 97px;
      content: "";
      height: 2px;
      width: 145px;
      background-color: $basic-green;
      z-index: -1;
      right: -70px;}

    &::before {    position: absolute;
      top: 97px;
      content: "";
      height: 2px;
      width: 30px;
      background-color: $basic-green;
      z-index: -1;
      left: -70px;}
  }

  .form__program {
    margin-bottom: 44px;
  }

  .form__wrapper--green-line {
    &::after {
      position: absolute;
      top: 22px;
      content: "";
      height: 2px;
      width: 446px;
      background-color: $basic-green;
      z-index: -1;
      right: -70px;
    }

    &::before {
      position: absolute;
    top: 22px;
    content: "";
    height: 2px;
    width: 30px;
    background-color: $basic-green;
    z-index: -1;
    left: -70px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__flexbox-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__wrapper {
    max-width: 1220px;
    max-width: 1220px;
    margin: 0 auto;
    justify-content: center;
  }

  .form__title {
    margin-top: 79px;
    margin-bottom: 57px;
  }

}
