.form {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.form__title-field {
  margin: 0;
  padding: 0;
  color: $black;
  font-family: "Oswald", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 36px;
}

.form__wrapper {
  @include list-reset;
  max-width: 280px;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 25px;
}

.form__line {
  position: relative;
  width: 100%;

  &::after {
    position: absolute;
    top: 15px;
    content: "";
    height: 2px;
    width: 100%;
    background-color: $basic-green;
    z-index: -1;
  }
}

.form__line-comment {
  position: relative;
  width: 100%;

  &::after {
    position: absolute;
    top: 14px;
    content: "";
    height: 2px;
    width: 100%;
    background-color: $basic-green;
    z-index: -1;
  }
}

.form__wrapper-min {
  @include list-reset;
  max-width: 280px;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 10px;
}

.form__program {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.form__flexbox-block {
  @include list-reset;
}

.form__title {
  margin: 0;
  padding: 0;
  color: $black;
  font-family: "Oswald", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 37px;
}

.form__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  font-family: "Oswald", "Roboto", sans-serif;
  font-weight: 400;
  min-width: 226px;
  margin-bottom: 39px;
  text-transform: uppercase;
}

.form-field__control--comment {
  font-family: "Oswald", "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $font-grey;
  font-size: 16px;
  line-height: 18px;
}

.form-field__control {
  @include list-reset;
  width: 280px;
  height: 150px;
  border: 1px solid #e7e7e7;
  padding: 10px 0 0 0;
  cursor: pointer;
}

.form__line-dop {
  position: relative;
  width: 100%;

  &::after {
    position: absolute;
    top: 12px;
    content: "";
    height: 2px;
    width: 100%;
    background-color: $basic-green;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    @include list-reset;
    min-width: 628px;
    max-width: 628px;
    margin: 0 auto;
    justify-content: center;
  }

  .form__title-field {
    font-size: 36px;
    line-height: 36px;

    &--comment {
      background-color: $white;
    }
  }

  .form-field__control {
    min-height: 174px;
    padding: 10px 0 0 19px;
    width: calc(100% - 19px);
    margin-top: 40px;

    &--comment {
      font-size: 20px;
      line-height: 30px;
      text-align: left;
    }
  }

  .form__wrapper-min {
    max-width: 628px;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 10px;
  }

  .form__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 55px;
  }

  .form__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 62px;
  }

  .form__wrapper--line {
    padding-top: 75px;
    margin-bottom: 61px;
  }

  .form__program {
    margin-bottom: 50px;
  }

  .form__line {
    position: relative;
    width: 100%;

    &::after {
      position: absolute;
      top: 99px;
      content: "";
      height: 2px;
      width: 100%;
      background-color: $basic-green;
      z-index: -1;
    }
  }

  .form__line-comment {
    position: relative;
    width: 100%;

    &::after {
      position: absolute;
      top: 20px;
      content: "";
    }
  }

  .form__line-dop {
    position: relative;
    width: 100%;

    &::after {
      position: absolute;
      top: 22px;
      content: "";
      height: 2px;
      width: 100%;
      background-color: $basic-green;
      z-index: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__flexbox-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__wrapper {
    max-width: 1220px;
    margin: 0 auto;
    justify-content: center;
  }

  .form__wrapper-min {
    max-width: 1220px;
  }

  .form__title {
    margin-top: 79px;
    margin-bottom: 57px;
  }

  .form__wrapper--line {
    padding-top: 63px;
  }

  .form__line::after {
    position: absolute;
    top: 86px;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #68b738;
    z-index: -1;
  }

  .form-field__control {
    height: 174px;
  }

  .form__line-dop {
    position: relative;
    width: 100%;

    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 100%;
      background-color: $basic-green;
      z-index: -1;
      top: 24px;
    }
  }

  .form__line-comment {
    position: relative;
    width: 100%;

    &::after {
      position: absolute;
      top: 23px;
      content: "";
    }
  }
}
