.instruction {
  @include list-reset;
  max-width: 280px;
  margin: 0 auto;
  background-color: $white;
  justify-content: center
}

.instruction__title {
  @include list-reset;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  margin-bottom: 40px;
  padding: 5px 0 0 1px;
}

.instruction__list {
  @include list-reset;
}

.instruction__item {
  @include list-reset;
  flex-wrap: wrap;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 60px;
  padding-left: 80px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 49px;
  }
}

.instruction__img {
  @include list-reset;
  width: 60px;
  height: 60px;
  background-color: $basic-green;
}

.instruction__text {
  padding: 0;
  margin: 0;
  max-width: 200px;
}

.instruction__item::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 60px;
  height: 60px;
  background-size: 50px;
}

.instruction-item--leaf::before {
  background: url(../img/green-leaf.svg) no-repeat;
}

.instruction-item--pow::before {
  background: url(../img/powder.svg) no-repeat;
}

.instruction-item--cafe::before {
  background: url(../img/cafe.svg) no-repeat;
}

.instruction-item--watch::before {
  background: url(../img/watch.svg) no-repeat;
}

@media (min-width: $tablet-width) {
  .instruction {
    min-width: 708px;
    max-width: 708px;
    margin: 0 auto;
    background-color: $white;
    justify-content: center;
  }

  .instruction__item {
    min-width: 230px;
    max-width: 250px;
    height: 280px;
  }

  .instruction__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .instruction {
    min-width: 1220px;
    max-width: 1220px;
    margin: 0 auto;
    background-color: $white;
    justify-content: center;
  }

  .instruction__item {
    margin-right: 80px;
  }

  .instruction__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
