.instruction {
  @include list-reset;
  max-width: 280px;
  margin: 0 auto;
  background-color: $white;
  justify-content: center
}

.instruction__title {
  @include list-reset;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  margin-bottom: 40px;
}

.instruction__list {
  @include list-reset;
}

.instruction__item {
  @include list-reset;
  margin-bottom: 20px;
  max-width: 280px;
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;

  &:last-child {
    margin-bottom: 49px;
  }
}

.instruction__img {
  @include list-reset;
  width: 60px;
  height: 60px;
  background-color: $basic-green;
}

.instruction__text {
  padding: 0;
  margin: 0;
  max-width: 200px;
  height: 60px;
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .instruction {
    min-width: 708px;
    max-width: 708px;
    margin: 0 auto;
    background-color: $white;
    justify-content: center;
  }

  .instruction__item {
    min-width: 230px;
    max-width: 250px;
    height: 280px;
  }

  .instruction__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .instruction {
    min-width: 1220px;
    max-width: 1220px;
    margin: 0 auto;
    background-color: $white;
    justify-content: center;
  }

  .instruction__item {
    margin-right: 80px;
  }

  .instruction__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
