
.logo-text_img {
  width: 101px;
  height: 18px;

  &:hover {
    opacity: 0.3;
  }

  &:focus-visible {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
