.main-header {
  @include list-reset;
  position: relative;
  background-color: #FFFFFF;
  min-height: 65px;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    min-height: 52px;
    width: 708px;
    margin: 0 31px;
  }

  @media (min-width: $desktop-width) {
    min-height: 59px;
    width: 1220px;
    margin: 0 110px;
  }
}

.main-header__container {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.main-header__header {
  @include list-reset;
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 1220px;
  }
}

.main-header__logo-container {
  @include list-reset;
  width: 191px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.main-header__logo-img {
  @include list-reset;
  width: 33px;
  height: 38px;

  @media (min-width: $tablet-width) {}
}

.main-nav__list {
  @include list-reset;

  @media (min-width: $tablet-width) {}

  @media (min-width: $desktop-width) {}
}
