.main-header {
  @include list-reset;
  position: relative;
  height: 65px;
}

.main-header__container {
  @include list-reset;
  max-width: 280px;
  margin: 0 auto;
  justify-content: center;
  padding: 10px 20px;
  height: 45px;
}

.main-header__header {
  @include list-reset;
  display: flex;
  justify-content: space-between;
}

.main-header__logo-container {
  @include list-reset;
  width: 191px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 37px;
}

.main-header__logo-img {
  @include list-reset;
  width: 33px;
  height: 38px;
  vertical-align: middle;
}

.main-nav__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .main-header__logo-container {
    min-width: 174px;
  }

  .main-header__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .main-header {
    min-height: 52px;
  }

  .main-header__container {
    min-width: 708px;
    margin: 0 auto;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .main-header__container {
    min-width: 1220px;
    margin: 0 auto;
    justify-content: center;
  }

  .main-header__logo-container {
    max-width: 202px;
  }

  .main-header__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .main-header {
    min-height: 59px;
    position: relative;
  }

  .main-header--bg::after {
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    min-height: 694px;
    top: 0;
    right: 0;
    left: inherit;
    background: linear-gradient(rgb(104 183 56 / 0.85),
        rgb(104 183 56 / 0.85)), url('../img/cat-photo.jpg') no-repeat;
    background-size: cover;
    z-index: -1;
  }
}
