.main-nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    min-width: 441px;
    gap: 33px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 35px;
    max-width: 1000px;
  }
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade($black, 30%);
  box-shadow:
    0 8px 0 0 fade($black, 30%),
    0 16px 0 0 fade($black, 30%);
}

.main-nav--no-js.main-nav {
  display: block;
  position: relative;
}

.main-nav__wrapper {
  @media (min-width: $desktop-width) {
    padding-top: 69px;
  }
}

.main-nav__item {
  @include list-reset;
  padding: 24px 0 19px;
  text-align: center;
  max-height: 65px;

  &:nth-child(1) {
    border-top: 1px solid $border-color;
  }

  &:nth-child(2) {
    border-top: 1px solid $border-color;
  }

  &:nth-child(3) {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }
}

.main-nav__link {
  @include list-reset;
  text-decoration: none;
  font-family: "Oswald", "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: $black;
  transition: 0.3s all;

  &:hover {
    transition: 0.3s all;
    opacity: 0.6;
  }

  &:focus {
    transition: 0.3s all;
    opacity: 0.6;
  }

  &:active {
    transition: 0.3s all;
    opacity: 0.3;
  }
}

.main-nav__link--current-link {
  padding-bottom: 10px;
  border-bottom: 2px solid $basic-green;
}

@media (min-width: $tablet-width) {
  .main-nav {
    z-index: 1;
  }

  .main-nav__list {
    max-width: 470px;
  }

  .main-nav__link--current-link {
    padding-bottom: 8px;
    border-bottom: 2px solid $basic-green;
  }

  .main-nav__link--current-link-catalog {
    padding-bottom: 3px;
    border-bottom: 2px solid $basic-green;
  }

  @media (min-width: $desktop-width) {
    .main-nav__link--current-link {
      padding-bottom: 8px;
    }
  }


  .main-nav__item {
    padding: 0;
    padding-top: 18px;

    @media (min-width: $desktop-width) {
      padding-top: 0;
    }
  }

  .main-nav__link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: $black;
  }

  .main-nav__item:nth-child(1),
  .main-nav__item:nth-child(2),
  .main-nav__item:nth-child(3) {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav--desk {
    z-index: 1;
  }

  .main-nav__list.main-nav__list--desk {
    max-width: 550px;
  }

  .main-nav {
    z-index: 1;
  }

  .main-nav__list {
    max-width: 890px;
  }

  .main-nav__link {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: $black;
  }

  .main-nav__link--current-link-catalog {
    padding-bottom: 8px;
    border-bottom: 2px solid $basic-green;
  }

  .main-nav__item:nth-child(1),
  .main-nav__item:nth-child(2),
  .main-nav__item:nth-child(3) {
    border: none;
  }

  .main-nav__link--white-link {
    border-bottom: 2px solid $white;
  }

  .main-nav__link--white-text {
    color: $white;
  }
}

