.main-nav {
  @include list-reset;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
  }
}

.main-nav--closed .main-nav__toggle {
  @include list-reset;
  position: absolute;
  border: none;
  margin: 0;
  padding: 0;
  background: url(../img/logo-closed.svg) no-repeat;
  height: 20px;
  width: 25px;
  margin-left: auto;
  cursor: pointer;
  top: 24px;
  right: 20px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  @include list-reset;
  position: absolute;
  border: none;
  margin: 0;
  padding: 0;
  background: url(../img/logo-opened.svg) no-repeat;
  height: 20px;
  width: 19px;
  margin-left: auto;
  cursor: pointer;
  top: 21px;
  right: 23px;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }
}

.main-nav__wrapper {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;
}

.main-nav__list {
  @include list-reset;
  text-align: center;
  background-color: $white;
}

.main-nav--opened .main-nav__wrapper {
  display: block;

}

.main-nav--closed .main-nav__wrapper {
  display: none;
}

.main-header__logo-img {
  @include list-reset;
}


@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: block;
    position: relative;
    top: 0;
    min-width: 440px;
    height: 52px;
  }

  .main-nav--closed .main-nav__wrapper {
    display: block;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    min-width: 440px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    display: block;
    max-width: 478px;
    position: relative;
    top: 0;
  }

  .main-nav--closed .main-nav__wrapper {
    display: block;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }
}
