.program {
  @include list-reset;
  max-width: 280px;
  margin: 0 auto;
  background-color: $white;
  justify-content: center;
}

.program__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
}

.program__item {
  @include list-reset;
  width: 100%;
  background-color: $basic-grey;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0
  }
}

.program-item__image {
  @include list-reset;
  position: relative;
  padding-bottom: 21px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 19px;
  min-width: 240px;
}

.program-item__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  position: relative;
  margin: 0 0 18px 0;

}

.program-item__title--icon-x::after {
  position: absolute;
  content: "";
  top: 52%;
  transform: translateY(-58%);
  left: 3px;
  width: 50px;
  height: 53px;
  background: url(../img/cat_back.svg) no-repeat;
}

.program-item__title--marg-1 {
  padding: 9px 0 11px 13px;
}

.program-item__title--marg-2 {
  padding: 9px 0 11px 41px;
}

.program-item__title--icon-y::after {
  position: absolute;
  content: "";
  top: 55%;
  transform: translateY(-58%);
  left: -6px;
  width: 67px;
  height: 50px;
  background: url(../img/cat_back-x1.svg) no-repeat;
}

.program-item__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  max-width: 227px;
  text-align: left;
}

.program-item__link {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black;
  text-align: left;
  position: relative;
}

.program-item__link--slim::after {
  content: '';
  position: absolute;
  background: url(../img/arrow-right.svg) no-repeat;
  width: 24px;
  height: 12px;
  z-index: 3;
  top: 7px;
  left: 102px;
}

.program-item__link--pro::after {
  content: '';
  position: absolute;
  background: url(../img/arrow-right.svg) no-repeat;
  width: 24px;
  height: 12px;
  z-index: 3;
  top: 7px;
  left: 102px;
}

@media (min-width: $tablet-width) {
  .program {
    min-width: 708px;
    max-width: 708px;
    margin: 0 auto;
    background-color: $white;
    justify-content: center;
    margin-top: -13px;
    margin-bottom: 51px;
  }

  .program__list {
    margin-bottom: 0;
    min-width: 708px;
    max-width: 708px;
  }

  .program__item {
    width: 100%;
    max-height: 372px;
    flex-direction: column;
    padding: 0;
    padding: 78px 28px 55px 53px;
    margin-bottom: 33px;
  }

  .program-item__title {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  .program-item__text {
    font-size: 16px;
    line-height: 24px;
    min-width: 340px;
  }

  .program-item__link {
    font-size: 20px;
    line-height: 30px;
  }

  .program-item__image {
    border: none;
  }

  .program-item__title--icon-x::after {
    top: 126px;
    left: 394px;
    width: 200px;
    height: 211px;
    background: url(../img/cat_back.svg) no-repeat;
  }

  .program-item__title--marg-1 {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
  }

  .program-item__title--marg-2 {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
  }

  .program-item__text {
    margin-bottom: 9px;
  }

  .program-item__link--slim::after {
    top: 11px;
    left: 133px;
  }

  .program-item__link--pro::after {
    top: 11px;
    left: 129px;
  }

  .program-item__title--icon-y::after {
    top: 126px;
    left: 388px;
    width: 268px;
    height: 200px;
  }

  .program__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .program {
    min-width: 1220px;
    max-width: 1220px;
    margin: 0 auto;
    background-color: $white;
    justify-content: center;
  }

  .program__list {
    min-width: 1220px;
    max-width: 1220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .program__item {
    width: calc(50% - 80px);
    max-height: 372px;
  }

}
