.program {
  @include list-reset;
  max-width: 280px;
  margin: 0 auto;
  background-color: $white;
  justify-content: center;
}

.program__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.program__item {
  background-color: $basic-grey;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.program-item__image {
  margin: 0;
  padding: 0;
}

.program-item__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $black;
  text-align: center;
}

.program-item__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  max-width: 227px;
  text-align: left;
}

.program-item__link {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .program {
    min-width: 708px;
    max-width: 708px;
    margin: 0 auto;
    background-color: $white;
    justify-content: center;
  }

  .program__item {
    width: 708px;
    max-height: 372px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    min-width: 1220px;
    max-width: 1220px;
    margin: 0 auto;
    background-color: $white;
    justify-content: center;
  }

  .program__item {
    width: 570px;
    max-height: 374px;

    &:not(:nth-child(even)) {
      margin-right: 80px;
    }
  }

}
