.promo {
  @include list-reset;
  max-width: 320px;
  margin-bottom: 20px;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 22px;
}

.promo__image-cat {
  min-height: 302px;
  background: linear-gradient(rgb(104 183 56 / 0.85),
      rgb(104 183 56 / 0.85)), url('../img/cat/cat-photo.jpg') no-repeat;
  background-size: cover;
  margin-bottom: 135px;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(rgb(104 183 56 / 0.85),
      rgb(104 183 56 / 0.85)), url("../img/cat/cat-photo@2x.jpg");
    background-size: cover;
  }
}

.promo__text-block {
  position: absolute;
}

.promo__slogan {
  @include list-reset;
  padding-top: 26px;
  margin-bottom: 27px;

  &--font {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: $white;
  }
}

.promo__slogan-text {
  @include list-reset;
  margin-bottom: 29px;

  &--font {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: $white;
    text-transform: uppercase;

  }
}

.promo__wrapper {
  position: relative;
}

.promo__image-soup {
  top: 167px;
  display: block;
  margin: 0 20px;
  position: absolute;
  top: 167px;
  width: 270px;

  @media (min-width: $tablet-width) {
    width: 709px;
    top: 203px;
  }
  @media (min-width: $desktop-width) {
    width: 499px;
  }
}

.promo__button {
  display: block;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  margin: 0 20px;
  cursor: pointer;
  background-color: $basic-green;
  transition: 0.3s all;

  &:hover {
    background-color: $basic-green-state;
    transition: 0.3s all;
  }

  &:focus {
    background-color: $basic-green-state;
    transition: 0.3s all;
  }

  &:active {
    background-color: $basic-green-state;
    transition: 0.3s all;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .promo {
    min-width: 708px;
    max-width: 708px;
    margin: 0 auto;
    justify-content: center;
  }

  .promo__wrapper {
    height: 812px;
    margin: 0;
    padding: 0;
  }

  .promo__text-block {
    position: relative;
    margin-bottom: 20px;
  }

  .promo__image-cat {
    background: $white;
    height: 609px;
  }

  .promo__slogan-text {
    &--font {
      color: $black;
    }
  }

  .promo__slogan {
    padding: 0;
    margin: 0;
    width: calc(100% - 237px);
    padding-left: 88px;
    text-align: left;
    padding-top: 2px;
    margin-bottom: 41px;

    &--font {
      color: $black;
      font-weight: 400;
      font-size: 60px;
      line-height: 60px;

    }
  }

  .promo__slogan-text {
    padding: 0;
    margin: 0;
    width: calc(100% - 422px);
    padding-left: 88px;

    &--font {
      color: $black;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
    }
  }

  .promo__image-cat {
    background: rgb(255 255 255 / 100%);
    margin-bottom: 0;
  }

  .promo__image-soup {
    position: absolute;
    margin: 0;
    top: 203px;
    left: 0;
  }

  .promo__button {
    position: absolute;
    margin: 0;
    max-width: 244px;
    top: 232px;
    left: 91px;
    padding: 14px 26px;
  }
}


@media (min-width: $desktop-width) {
  .promo {
    min-width: 1220px;
    max-width: 1220px;
    margin: 0 auto;
    justify-content: center;
  }

  .promo__wrapper {
    max-height: 554px;
    margin-bottom: 82px;
  }

  .promo__slogan-text {
    padding-left: 80px;
    margin-bottom: 52px;

    &--font {
      color: $black;
      text-align: left;
    }
  }

  .promo__slogan {
    padding-top: 84px;
    padding-left: 80px;
    max-width: 416px;

    &--font {
      color: $black;
    }
  }

  .promo__image-cat {
    background: transparent;
  }

  .promo__button {
    left: 80px;
    top: 317px;
  }

  .promo__image-soup {
    width: 509px;
    height: 499px;
    top: 0;
    left: 40%;
  }
}
