.question__title-field {
  margin: 0;
  padding: 0;
  color: $black;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 36px;
}

.question__field {
  @include list-reset;
  margin: 0;
  padding: 24px 0;
  padding-top: 0;
  border: 0;
}

.question__control--comment {
  font-family: "Oswald";
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $font-grey;
  font-size: 16px;
  line-height: 18px;
}

.question__control {
  @include list-reset;
  width: 280px;
  height: 150px;
  border: 1px solid #e7e7e7;
  padding: 10px 0 0 0;
  cursor: pointer;
}

.question__labels-list {
  @include list-reset;
}

.question__blocks {
  @include list-reset;
}

.question__radio-field {
  @include list-reset;
}

.question__list {
  @include list-reset;
  min-width: 280px;
}

.question__button {
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 9px 44px;
  background-color: $basic-green;
  margin-bottom: 22px;
  cursor: pointer;

  &:hover {
    transition: 0.3s all;
    background-color: $basic-green-state;
  }

  &:focus {
    transition: 0.3s all;
    background-color: $basic-green-state;

  }

  &:active {
    transition: 0.3s all;
    background-color: $basic-green-state;
    color: rgba(255, 255, 255, 30%);
  }

  &:disabled {
    transition: 0.3s all;
    background-color: $basic-grey;
    color: $white;
  }
}

.question__form-text {
  margin: 0;
  padding: 0;
  color: $font-grey;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  flex-shrink: 0;
  margin: auto 13px auto 0;
  max-width: 100px;

  &--black-color {
    color: $black;
  }
}

.question__radio-field {
  @include list-reset;

  &--border {
    border-bottom: 1px solid #d9d9d9;
    margin: 0 -20px;
    padding: 0 20px;
    width: 280px;
  }
}

.question__radio-field--border {
  border-bottom: 1px solid #d9d9d9;
  margin: 0 -20px;
  padding: 0 20px;

}

.question__form-control::placeholder {
  margin: 0;
  padding: 0;
  color: #444;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.question__form-control {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  font-family: inherit;
  padding: 13px 20px 12px 12px;
  border: 1px solid #e7e7e7;

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
  }
  &:hover {
    border: 1px solid $dop-grey;
  }
  &:focus {
    border: 1px solid $font-grey;
  }

  &:invalid:not(:placeholder-shown) {
    border: 1px solid $invalid-color;
    color: $invalid-color;
  }
}

.question__invalid.question__form-control {
  border: 1px solid $invalid-color;
    color: $invalid-color;
}

.question__invalid.question__labels-phone::after {
  background-color: $invalid-color;
}

.question__invalid.question__labels-mail::after {
  background-color: $invalid-color;
}

.question__item {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.question__labels {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  color: $black;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.question__text {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $black;
  text-align: center;

  &--mg {
    margin-bottom: 32px;
  }
}

.question__labels-mail {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 18px;
    width: 18px;
    height: 14px;
    mask-image: url('../img/mail-icon.svg');
    background-color: $black;
    mask-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 19px;
      right: 19px;
    }
  }
}

.question__labels-phone {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 18px;
    width: 16px;
    height: 16px;
    mask-image: url('../img/phone-icon.svg');
    background-color: $black;
    mask-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 19px;
      right: 19px;
    }
  }
}

.question__labels-mail:focus-within::before {
  background-color: $basic-green;
}

.question__labels-phone:focus-within::before {
  background-color: $basic-green;
}

.question__title-field--contact {
  background-color: $white;
  margin-left: -20px;
  padding-left: 20px;
  width: 201px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    margin-left: -40px;
    padding-left: 40px;
    width: 554px;
  }
  @media (min-width: $desktop-width) {
    background-color: $white;
    margin-left: -40px;
    padding-left: 40px;
    width: 552px;
  }
}

.question__title-field-comment {
  background-color: $white;
  margin-left: -20px;
  padding-left: 20px;
  width: 133px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    margin-left: -40px;
    padding-left: 40px;
    width: 220px ;
  }
  @media (min-width: $desktop-width) {
    background-color: $white;
    margin-left: -40px;
    padding-left: 40px;
    width: 220px;
  }
}

.question__title-field--line {
  background-color: $white;
  margin-left: -20px;
  padding-left: 20px;
  width: 164px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    margin-left: -40px;
    padding-left: 40px;
    width: 265px ;
  }
  @media (min-width: $desktop-width) {
    background-color: $white;
    margin-left: -40px;
    padding-left: 40px;
    width: 262px;
  }
}

@media (min-width: $tablet-width) {
  .question__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(221px, 1fr));
    grid-column-gap: 143px;
    grid-row-gap: 32px;
  }

  .question__control {
    width: 100%;
    min-height: 161px;
    padding: 10px 0 0 19px;
    width: calc(100% - 19px);
    margin-top: 40px;
    margin-bottom: 14px;

    &--comment {
      font-size: 20px;
      line-height: 30px;
      text-align: left;
    }
  }

  .question__button-field {
    display: flex;
  }

  .question__button {
    width: 45%;
    margin-right: 64px;
    font-size: 20px;
    padding: 16px 44px;
  }

  .question__form-text {
    font-size: 20px;
    line-height: 30px;
    max-width: 150px;
    margin: 15px 14px 16px 0px;
  }

  .question__form-control {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 19px;
    margin: 5px 0;
    border: 1px solid $border-block;
    cursor: pointer;

    &--icon {
      margin-left: 7px;
    }
  }

  .question__form-control::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .question__title-field {
    font-size: 36px;
    line-height: 36px;

    &--comment {
      background-color: $white;
    }
  }

  .question__text {
    font-size: 16px;
    line-height: 16px;
  }

  .question__radio-field--border {
    border: none;
    width: 100%;
  }

  .question__radio-field {
    border: none;
  }

  .question__field {
    padding: 0 0 70px 0;
  }

  .question__radio-list {
    border: 1px solid $border-block;
  }

  .question__title-field--closed {
    margin-bottom: 72px;
  }

  .question__form-text {
    margin: auto 14px auto 0;
  }

  .question__title-field--dop {
    margin-top: 47px;
    margin-bottom: 63px;
  }

  .question__text-field {
    padding-top: 14px;
  }

  .question__control-icon--mail {
    position: absolute;
    right: 19px;
    top: 20px;
  }

  .question__control-icon--phone {
    position: absolute;
    right: 19px;
    top: 19px;
  }

  .question__item {
    margin-bottom: 10px;
  }

  .question__labels-mail::after {
    top: 24px;
    right: 15px
  }

  .question__labels-phone::after {
    top: 23px;
    right: 15px;
  }
}

@media (min-width: $desktop-width) {
  .question__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .question__labels-list {
    min-width: 569px;
  }

  .question__field {
    padding: 0;
  }

  .question__control {
    height: 174px;
  }

  .question__labels-list--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
    margin-bottom: 50px;
  }

  .question__radio-field--border {
    width: 570px;
  }

  .question__text-field {
    @include list-reset;
  }

  .question__radio-field--size-1 {
    min-width: 569px;
  }

  .question__radio-field--size-2 {
    min-width: 570px;
  }

  .question__form-control--icon {
    max-width: 486px;
  }

  .question__field--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .question__button-field {
    display: flex;
    justify-content: start;
    min-width: 826px;
  }

  .question__button {
    margin-right: 84px;
    width: 568px;
    margin-top: 6px;
  }

  .question__labels-mail::after {
    top: 24px;
    right: 20px;
  }

  .question__labels-phone::after {
    top: 23px;
    right: 19px;
  }

  .question__title-field {
    font-size: 36px;
    line-height: 36px;
    margin-top: 2px;
}

.question__control {
  max-height: 164px;
  margin-bottom: 51px;
}

.question__text--mg {
  margin-top: 22px;
  margin-left: 1px;
}

.question__button-field {
  margin-bottom: 60px;
}
}
