
.question__title-field {
  margin: 0;
  padding: 0;
  color: $black;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.question__field {
  @include list-reset;
    margin: 0;
    padding: 24px 0;
    border: 0;
}

.question__blocks {
  @include list-reset;
}

.question__data-field {
  @include list-reset;
  margin-bottom: 24px;

}

.question__list {
  @include list-reset;
  min-width: 280px;
}

.question__button {
  width: calc(100% - 20px * 2);
  margin: 0;
  padding: 0;
  padding: 7px 44px;
}

.question__form-text {
  margin: 0;
  padding: 0;
  color: #444;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  margin-right: 13px;
  text-transform: uppercase;
  &--black-color {
    color: $black;
  }
}

.question__form-control::placeholder {
  margin: 0;
  padding: 0;
  color: #444;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.question__form-control {
  min-width: 0;
  width: 100%;
  height: 45px;
  padding: 13px 20px;
  &--icon {
    padding-left: 15px;
  }
}

.question__labels {
  margin: 0;
  padding: 0;
  display: flex;
  color: $black;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 12px;
  &:last-child {
    margin-bottom: 0;
  }
}

.question__labels {
  margin: 0;
  padding: 0;
}

.question__radio {
  @include list-reset;
}

.question__text {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $black;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .question__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(221px, 1fr));
    grid-column-gap: 143px;
    grid-row-gap: 32px;
  }

  .question__button-field {
    display: flex;
  }

  .question__button {
    width: 45%;
    margin-right: 64px;
  }
}

@media (min-width: $desktop-width) {
  .question__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .question__field {
    padding: 24px 0;
  }

  .question__data-field--size-1 {
     min-width: 569px;
  }

  .question__data-field--size-2 {
    min-width: 570px;
  }

  .question__form-control--icon {
    min-width: 486px;
  }

  .question__field--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .question__form-control--icon {
    min-width: 467px;
  }

  .question__button-field {
    display: flex;
    justify-content: start;
    min-width: 826px;
  }

  .question__button {
    margin-right: 84px;
  }
}
