.site-list__item  {
  @include list-reset;
  margin-top: 22px;
  margin-bottom: 24px;
  @media (min-width: $tablet-width) {

  }
  @media (min-width: $desktop-width) {

  }
}

.site-list__link {
  @include list-reset;
  text-decoration: none;
  color: #000;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
