.social-list__item {
  max-width: 132px;
  justify-items: center;

  &:nth-child(1) {
    margin-right: 21px;
  }

  &:nth-child(2) {
    margin-right: 26px;
    margin-left: 5px;
  }
}

.social-list__link {
  &--vkontakte {
    display: block;
    mask-image: url("../img/sprite.svg#vkontakte");
    background-color: #666666;
    width: 28px;
    height: 22px;
    vertical-align: middle;
  }

  &--youtube {
    display: block;
    mask-image: url("../img/sprite.svg#youtube");
    background-color: #666666;
    width: 28px;
    height: 22px;
  }

  &--telegram {
    display: block;
    mask-image: url("../img/sprite.svg#telegram");
    background-color: #666666;
    width: 28px;
    height: 22px;
  }

  &:hover {
    background-color: #68B738;
  }

  &:focus-visible {
    background-color: #68B738;
  }

  &:active {
    background-color: #68B738;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social-list__item {
    margin: 0;
    padding: 0;
    width: 28px;
    height: 22px;
  }

  .social-list__icon--vk {
    vertical-align: middle;
  }
}
