.social-list__item {
  max-width: 132px;
  justify-items: center;
  &:nth-child(1) {
    margin-right: 21px;
  }
  &:nth-child(2) {
    margin-right: 26px;
    margin-left: 5px;
  }
}

.social-list__icon {
  fill: #666666;

  &:hover {
    fill: $basic-green;
  }
  &:focus {
    fill: $basic-green;
  }
  &:active {
    fill: $basic-green;
    opacity: 0.3;
  }
}

.social-list__link {
  fill: #666666;

  &:hover {
    fill: $basic-green;
  }
  &:focus {
    fill: $basic-green;
  }
  &:active {
    fill: $basic-green;
    opacity: 0.3;
  }
}

.social-list__icon--vk {
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .social-list__item {
    margin: 0;
    padding: 0;
    width: 28px;
    height: 22px;
  }

  .social-list__icon--vk {
    vertical-align: middle;
  }
}
