@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #FFF;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Lato";
  color: #444;
}

* {
  outline: 1px solid #000000;
}

html,
body {
  margin: 0;
  padding: 0;
  font-style: normal;
  box-sizing: border-box;
}

.main-header {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  background-color: #FFFFFF;
  min-height: 65px;
  margin: 0 20px;
}
@media (min-width: 708px) {
  .main-header {
    min-height: 52px;
    width: 708px;
    margin: 0 31px;
  }
}
@media (min-width: 1220px) {
  .main-header {
    min-height: 59px;
    width: 1220px;
    margin: 0 110px;
  }
}

.main-header__container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.main-header__header {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  min-width: 280px;
}
@media (min-width: 708px) {
  .main-header__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 708px;
  }
}
@media (min-width: 1220px) {
  .main-header__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 1220px;
  }
}

.main-header__logo-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 191px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 708px) {
  .main-header__logo-container {
    width: 174px;
  }
}
@media (min-width: 1220px) {
  .main-header__logo-container {
    width: 202px;
  }
}

.main-header__logo-img {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 33px;
  height: 38px;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.logo-text__image {
  min-width: 101px;
  min-height: 18px;
  align-items: center;
}
@media (min-width: 708px) {
  .logo-text__image {
    height: 19px;
  }
}

.main-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #FFFFFF;
}
@media (min-width: 708px) {
  .main-nav {
    width: 440px;
  }
}
@media (min-width: 1220px) {
  .main-nav {
    width: 478px;
  }
}

.main-nav__toggle {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 24px;
  height: 16px;
  border: none;
  background-color: #FFFFFF;
  position: relative;
}
@media (min-width: 708px) {
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1220px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  left: 0;
  right: 0;
  /* min-width: 320px; */
  z-index: 1;
  top: 65px;
  background-color: #FFFFFF;
  width: 320px;
  margin-left: -20px;
}
@media (min-width: 708px) {
  .main-nav__wrapper {
    position: relative;
    top: 0;
  }
}
@media (min-width: 1220px) {
  .main-nav__wrapper {
    position: relative;
    top: 0;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 280px;
  text-align: center;
  margin-left: 20px;
}
@media (min-width: 708px) {
  .main-nav__list {
    width: 440px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1220px) {
  .main-nav__list {
    width: 478px;
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__menu-btn {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1.5px solid #000000;
  position: absolute;
  width: 24px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  left: 0;
  top: 0;
}
.main-nav__menu-btn:nth-child(2) {
  top: 8px;
}
.main-nav__menu-btn:nth-child(3) {
  top: 16px;
}

.main-header__logo-img {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-list__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 22px;
  margin-bottom: 24px;
}
.site-list__link {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: #000;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.main-container {
  min-width: 320px;
  flex-grow: 1;
}
@media (min-width: 708px) {
  .main-container {
    width: 768px;
  }
}
@media (min-width: 1220px) {
  .main-container {
    width: 1440px;
  }
}

.promo {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 280px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
}

.promo__image-cat {
  min-width: 320px;
  min-height: 302px;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-photo.jpg") no-repeat;
  background-size: contain;
  margin-bottom: 135px;
}

.promo__slogan {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 249px;
  padding-top: 23px;
  margin-bottom: 29px;
}
.promo__slogan--font {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #FFF;
  text-align: center;
}

.promo__slogan-text {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 198px;
  margin-bottom: 29px;
}
.promo__slogan-text--font {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}

.promo__wrapper {
  position: relative;
}

.promo__image-soup {
  top: 167px;
  display: block;
  margin: 0 20px;
  position: absolute;
  top: 167px;
}

.promo__button {
  display: block;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  min-width: 280px;
  margin: 0 20px;
}

.btn {
  background-color: #68B738;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 7px 44px;
  color: #FFFFFF;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
}

.program {
  width: 280px;
  margin: 0 20px;
  background-color: #FFFFFF;
}
@media (min-width: 708px) {
  .program {
    min-width: 708px;
    margin: 0 31px;
  }
}
@media (min-width: 1220px) {
  .program {
    width: 1220px;
    margin: 0 110px;
  }
}

.program__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.program__item {
  background-color: #F2F2F2;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 280px;
}
@media (min-width: 708px) {
  .program__item {
    width: 708px;
    max-height: 372px;
  }
}
@media (min-width: 1220px) {
  .program__item {
    width: 570px;
    max-height: 374px;
  }
  .program__item:not(:nth-child(even)) {
    margin-right: 80px;
  }
}

.program-item__image {
  margin: 0;
  padding: 0;
}

.program-item__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.program-item__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  max-width: 227px;
  text-align: left;
}

.program-item__link {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-align: left;
}

.instruction {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 0 20px;
  background-color: #FFFFFF;
}
@media (min-width: 708px) {
  .instruction {
    width: 708px;
    padding: 0 30px;
  }
}
@media (min-width: 1220px) {
  .instruction {
    width: 1220px;
    padding: 0 110px;
  }
}

.instruction__title {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  margin-bottom: 40px;
}

.instruction__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 708px) {
  .instruction__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1220px) {
  .instruction__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.instruction__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 20px;
  max-width: 280px;
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
}
.instruction__item:last-child {
  margin-bottom: 49px;
}
@media (min-width: 708px) {
  .instruction__item {
    min-width: 230px;
    max-width: 250px;
    height: 280px;
  }
}
@media (min-width: 1220px) {
  .instruction__item {
    margin-right: 80px;
  }
}

.instruction__img {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 60px;
  height: 60px;
  background-color: #68B738;
}

.instruction__text {
  padding: 0;
  margin: 0;
  max-width: 200px;
  height: 60px;
  margin-left: 20px;
}

.example {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #F2F2F2;
  padding: 0 20px;
  min-width: 280px;
}
@media (min-width: 708px) {
  .example {
    width: 708px;
    padding: 0 30px;
  }
}
@media (min-width: 1220px) {
  .example {
    width: 1220px;
    padding: 0 110px;
  }
}

.example__wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 1220px) {
  .example__wrapper {
    max-width: 436px;
  }
}

.example__container {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.example__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
}

.example__text {
  min-width: 280px;
  text-align: left;
}

.example__flexbox {
  display: flex;
  flex-wrap: wrap;
}

.example__spanbox-flex {
  text-align: center;
}

.example__number-span {
  font-family: "Oswald";
  font-size: 24px;
  line-height: 24px;
}

.example__text-span {
  font-size: 12px;
  line-height: 12px;
}

.example__price-span {
  font-family: "Oswald";
  line-height: 20px;
}

.cooperation {
  background-color: #FFFFFF;
}

.cooperation__wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cooperation__inner {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cooperation__container {
  display: flex;
  flex-wrap: wrap;
  padding: 26px 20px;
  min-width: 280px;
  justify-content: space-between;
}
@media (min-width: 708px) {
  .cooperation__container {
    padding: 0 70px;
  }
}
@media (min-width: 1220px) {
  .cooperation__container {
    padding: 0 110px;
  }
}

.cooperation__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  max-width: 139px;
  color: #000000;
  text-transform: uppercase;
}

.cooperation__street {
  line-height: 20px;
  text-align: left;
  max-width: 139px;
}

.cooperation__map {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
  width: 100%;
}

.footer {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #F2F2F2;
  box-sizing: border-box;
  min-width: 320px;
  padding: 40px 0;
  height: 240px;
}

.footer__wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 280px;
  text-align: center;
}
@media (min-width: 708px) {
  .footer__wrapper {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
  }
}
@media (min-width: 1220px) {
  .footer__wrapper {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 110px;
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__html-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__html-text {
  font-size: 16px;
  line-height: 19px;
}

.footer__block {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.social-list__item {
  max-width: 132pxl;
  justify-items: center;
}
.social-list__item:nth-child(1) {
  margin-right: 24px;
}
.social-list__item:nth-child(2) {
  margin-right: 26px;
}

.promo-catalog {
  background-color: #FFFFFF;
  min-width: 280px;
  margin: 0;
  padding: 0;
}

.promo-catalog__container {
  min-width: 280px;
}

.promo-catalog__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: 708px) {
  .promo-catalog__container {
    width: 708px;
    margin: 0 31px;
  }

  .promo-catalog__title {
    margin-top: 64px;
    margin-bottom: 90px;
    max-width: 708px;
  }
}
@media (min-width: 1220px) {
  .promo-catalog__container {
    width: 1220px;
    margin: 0 110px;
  }

  .promo-catalog__title {
    margin-top: 74px;
    margin-bottom: 85px;
    max-width: 1220px;
  }
}
.catalog {
  min-width: 280px;
  margin: 0;
  padding: 0;
  margin: 0px 20px;
  background-color: #FFFFFF;
}
@media (min-width: 708px) {
  .catalog {
    min-width: 708px;
    margin: 0px 30px;
  }
}
@media (min-width: 1220px) {
  .catalog {
    min-width: 1220px;
    margin: 0px 110px;
  }
}

.catalog__wrapper {
  min-width: 280px;
}

.catalog__icon-plus {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.catalog__subtitle {
  margin: 0;
  padding: 0;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  color: #000000;
  text-transform: uppercase;
}

.catalog__subtext {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
}

.catalog__sublink {
  margin: 0;
  padding: 0;
  min-width: 280px;
  padding: 10px 94px;
  color: #444;
  margin-bottom: 25px;
}

.catalog__sublink--font-color {
  background-color: #F2F2F2;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 708px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    grid-column-gap: 60px;
    grid-row-gap: 141px;
  }
}
@media (min-width: 1220px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-column-gap: 80px;
    grid-row-gap: 143px;
  }
}

.catalog__card-item {
  margin-bottom: 19px;
}
.catalog__card-item:last-child {
  margin-bottom: 36px;
}

.product__container {
  margin-top: 11px;
  margin-bottom: 13px;
  display: flex;
  flex-wrap: wrap;
}

.product__picture-block {
  min-width: 140px;
  box-sizing: border-box;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
}

.product__image {
  height: auto;
}

.product__image--small-img {
  margin: 0;
  padding: 0;
  margin: 14px 36px 12px;
}

.product__image--big-img {
  margin: 0;
  padding: 0;
  margin: 11px 27px 1px;
}

.product__table {
  margin: 0;
  padding: 0;
  min-width: 140px;
  margin-bottom: 9px;
}

.product__title {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  color: #000000;
  text-transform: uppercase;
}

.product__options {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  font-size: 12px;
  line-height: 16px;
}

.product__options--title {
  text-align: left;
}

.product__options--value {
  text-align: right;
}

.product__link {
  margin: 0;
  margin: 13px 0 14px;
  padding: 0;
  padding: 10px 109px;
  min-width: 140px;
  background-color: #68B738;
}
.product__link--font {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.product__description {
  min-width: 140px;
}

.add-catalog {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  min-width: 320px;
}

.add-catalog__container {
  padding: 0;
  margin: 0;
  margin: 0 20px;
}

.add_-catalog__flex-block {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.add-catalog__title {
  padding: 0;
  margin: 0;
  padding: 25px 0 36px;
}

.add-catalog__title-text {
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.add-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.add-catalog__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.add-catalog__subtitle {
  color: #000000;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.add-catalog__text-flex {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.add-catalog__span-flexbox {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.add-catalog__subtext {
  line-height: 14px;
}

.add-catalog__link {
  margin: 0;
  padding: 0;
  padding: 10px 109px;
  margin-top: 15px;
}

.add-catalog__active {
  margin: 0;
  padding: 0;
  min-width: 280px;
  height: auto;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-inbox.png") no-repeat;
  background-size: cover;
  box-sizing: border-box;
  text-align: center;
  padding: 59px 61px 43px 58px;
}

.add-catalog__cat-image-xl-1 {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}

.add-catalog__order-text {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  min-width: 161px;
}

.add-catalog__image-cat {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}

.add-catalog__cat-image-xl-1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background: #68B738;
}

.add-catalog__link-block {
  min-width: 280px;
}

@media (min-width: 708px) {
  .add-catalog__container {
    margin: 0 30px;
    min-width: 708px;
  }

  .add-catalog__text-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .add-catalog__link-block {
    width: 100%;
  }
}
@media (min-width: 1220px) {
  .add-catalog__container {
    min-width: 1220px;
    margin: 0 110px;
  }

  .add_-catalog__flex-block {
    display: flex;
    flex-wrap: wrap;
  }

  .add-catalog__text-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .add-catalog__list {
    max-width: 894px;
  }

  .add-catalog__item {
    display: flex;
    width: 894px;
  }

  .add-catalog__image-cat {
    width: 245px;
  }
}
.form {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.form__program {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.form__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 37px;
}

.form__text {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Oswald";
  font-weight: 400;
  min-width: 226px;
  margin-bottom: 39px;
}

.question__title-field {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin: 0 20px;
}

.question__field {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 0;
  padding: 24px 20px;
  border: 0;
}

.question__blocks {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.question__data-field {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 24px;
}

.question__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 280px;
}

.question__button {
  width: calc(100% - 40px);
  margin: 0;
  margin: 0 20px;
  padding: 0;
  padding: 7px 44px;
}

.question__form-text {
  margin: 0;
  padding: 0;
  color: #444;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  margin-right: 13px;
  text-transform: uppercase;
}
.question__form-text--black-color {
  color: #000000;
}

.question__form-control::placeholder {
  margin: 0;
  padding: 0;
  color: #444;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.question__form-control {
  min-width: 0;
  width: 100%;
  height: 45px;
  padding: 13px 20px;
}
.question__form-control--icon {
  padding-left: 15px;
}

.question__labels {
  margin: 0;
  padding: 0;
  display: flex;
  color: #000000;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.question__labels:last-child {
  margin-bottom: 0;
}

.question__labels {
  margin: 0;
  padding: 0;
}

.question__radio {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.question__text {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;
}

@media (min-width: 708px) {
  .question__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(221px, 1fr));
    grid-column-gap: 143px;
    grid-row-gap: 32px;
  }

  .question__title-field {
    margin: 0 70px;
  }

  .question__field {
    padding: 24px 70px;
  }

  .question__button-field {
    display: flex;
  }

  .question__button {
    width: 45%;
    margin-left: 70px;
  }
}
@media (min-width: 1220px) {
  .question__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .question__title-field {
    margin: 0 110px;
  }

  .question__field {
    padding: 24px 110px;
  }

  .question__button-field {
    display: flex;
  }

  .question__button {
    margin-left: 110px;
  }
}
.form-field {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 280px;
}

.form-field__control {
  margin: 0;
  padding: 0;
  min-width: 280px;
}

.slider {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 280px;
  height: 256px;
}
/*# sourceMappingURL=style.css.map */