img {
  max-width: 100%;
  height: auto;
}

body {

  background-color: $white;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Lato";
  color: $font-grey;
}

* {
  outline: 1px solid #000000;
}

html,
body {
  margin: 0;
  padding: 0;

  font-style: normal;
  box-sizing: border-box;
}
