img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #FFF;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Lato";
  color: #444;
}

html,
body {
  width: 320px;
  margin: 0;
  padding: 0;

  font-style: normal;
  box-sizing: border-box;
}
