.btn {
  background-color: $basic-green;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 7px 44px;
  color: $white;
  border: none;
}
