.btn {
  background-color: $basic-green;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 14px 0 11px 0;
  color: $white;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
}
