.product__container {
  display: flex;
  flex-wrap: wrap;
}

.product__image {
  height: 86px;
}

.product__image--small-img {
  margin: 0;
  padding: 0;
  margin: 14px 36px 12px;
}

.product__image--big-img {
  margin: 0;
  padding: 0;
  margin: 11px 28px 1px;
  width: 84px;
  height: 100px;
}

.product__table {
  margin: 0;
  padding: 0;
  min-width: 140px;
  border-spacing: 0px 1px;
}

.product__title {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  color: $grey-subtitle;
  text-transform: uppercase;
}

.product__title--wd {
  max-width: 99px;
}

.product__options {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
}

.product__options--title {
  text-align: left;
}

.product__options--value {
  text-align: right;
}

.product__link {
  display: block;
  line-height: 18px;
  padding: 10px 44px;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  width: 100%;
  border: none;
  margin-top: 8px;

  &--font {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.product__description {
  min-width: 140px;
}

.product__container--icon {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 3px;
    left: 45%;
    background-image: url(../img/plus.svg);
  }
}

.product__title--mg {
  text-align: center;
  margin: 0 auto;
  margin-top: 57px;
  margin-bottom: 7px;
}

.product__options--mg {
  text-align: center;
  margin: 0 auto;
  text-transform: initial;
}

.product__button-link {
  display: block;
  line-height: 20px;
  padding: 10px 44px;
  background-color: $basic-grey;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  width: 100%;
  border: none;
  margin-top: 22px;
}

@media (min-width: $tablet-width) {
  .product__container {
    flex-direction: column;
  }

  .product__picture-block {
    width: 100%;
  }

  .product__description {
    width: 100%;
  }

  .product__link {
    padding: 10px 0;
    margin-top: 11px;
  }

  .product__title {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    padding-top: 161px;
    margin: 0 auto 12px;

    &--wd {
      max-width: 60%;
    }
  }

  .product__options {
    font-size: 16px;
    line-height: 16px;
  }

  .product__table {
    width: 100%;
    margin-bottom: 33px;
    margin: 0 0 20px 0;
  }

  .product__row {
    height: auto;
    padding-bottom: 8px;
    padding-top: 6px;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #cdcdcd;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
  }

  .product__image--small-img {
    margin: 0;
    padding: 0;
    position: absolute;
    margin: 14px 36px 12px;
    top: -14%;
    height: 172px;
    width: auto;
    left: 18%;
  }

  .product__image--big-img {
    margin: 0;
    padding: 0;
    position: absolute;
    margin: 14px 36px 12px;
    top: -20%;
    height: 200px;
    width: auto;
    left: 13%;
  }

  .product__title--mg {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    padding-top: 162px;
    margin: 0;
    margin-bottom: 20px;
    width: 70%;
    margin-left: 15%;
  }

  .product__options--mg {
    padding: 0;
    text-align: center;
    text-transform: initial;
    line-height: 18px;
    width: 80%;
    margin-left: 10%;
  }

  .product__container--icon::before {
    width: 60px;
    height: 60px;
    top: 53px;
    left: 38%;
  }

  .product__button-link {
    padding: 9px 44px;
    margin-top: 86px;
    color: $black;
    width: 160px;
  }
}

@media (min-width: $desktop-width) {
  .product__title {
    width: 100%;
    line-height: 21px;
    margin: 0 11px;
    margin-bottom: 17px;
  }

  .product__title--wd {
    max-width: 154px;
  }

  .product__options {
    font-size: 16px;
    line-height: 16px;
  }

  .product__table {
    width: 100%;
    padding: 0px 0px 0 3px;
  }

  .product__link {
    padding: 10px 0;
    width: 100%;
  }

  .product__image--small-img {
    top: -16%;
    left: 8%;
  }

  .product__image--big-img {
    top: -22%;
    height: 195px;
    width: auto;
    left: 3%;
  }

  .product__title--mg {
    margin: 0;
  }

  .product__options--mg {
    width: 100%;
    margin-left: 0;
    margin-top: 23px;
  }

  .product__button-link {
    padding: 10px 0;
    margin-top: 89px;
    color: #000000;
    width: 100%;
  }

}
