
.product__container {
  margin-top: 11px;
  margin-bottom: 13px;
  display: flex;
  flex-wrap: wrap;
}

.product__picture-block {
  min-width: 140px;
  box-sizing: border-box;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
}

.product__image {
  height: auto;
}

.product__image--small-img {
  margin: 0;
  padding: 0;
  margin: 14px 36px 12px;
}

.product__image--big-img {
  margin: 0;
  padding: 0;
  margin: 11px 27px 1px;
}

.product__table {
  margin: 0;
  padding: 0;
  min-width: 140px;
  margin-bottom: 9px;
}

.product__title {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  color: $black;
  text-transform: uppercase;
}

.product__options {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  font-size: 12px;
  line-height: 16px;
}

.product__options--title {
  text-align: left;
}

.product__options--value {
  text-align: right;
}

.product__link {
  margin: 0;
  margin: 13px 0 14px;
  padding: 0;
  padding: 10px 109px;
  min-width: 140px;
  background-color: $basic-green;
  &--font {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.product__description {
  min-width: 140px;
}
