.product__container {
  display: flex;
  flex-wrap: wrap;
}

.product__table {
  margin: 0;
  padding: 0;
  min-width: 140px;
  border-spacing: 0;
}

.product-image {
  margin: 0;
  &--chicken-500 {
    width: 68px;
    height: 86px;
  }

  &--chicken-1000 {
    width: 84px;
    height: 100px;
  }

  &--fish-500 {
    width: 68px;
    height: 78px;
  }

  &--fish-1000 {
    width: 84px;
    height: 100px;
  }

  &--grechka-500 {
    width: 68px;
    height: 78px;
  }

  &--grechka-1000 {
    width: 84px;
    height: 100px;
  }

  &--rise-500 {
    width: 72px;
    height: 84px;
  }
}

.product-image--chicken-500 {
  margin-top: 5px;
}

.product__title {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  color: $grey-subtitle;
  text-transform: uppercase;
}

.product__title--wd {
  max-width: 99px;
}

.product__options {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
}

.product__options--title {
  text-align: left;
}

.product__options--value {
  text-align: right;
}

.product__link {
  display: block;
  line-height: 18px;
  padding: 10px 44px;
  background-color: $basic-green;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  width: 100%;
  border: none;
  margin-top: 12px;
  transition: 0.3s all;

  &--font {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;

  }

  &:hover {
    transition: 0.3s all;
    background-color: $basic-green-state;
  }

  &:focus {
    transition: 0.3s all;
    background-color: $basic-green-state;

  }

  &:active {
    transition: 0.3s all;
    background-color: $basic-green-state;
    color: rgba(255, 255, 255, 30%);
  }
}

.product__description {
  min-width: 140px;
}

.product__container--icon {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    left: 45%;
    background: url(../img/plus.svg) no-repeat;
  }
}

.product__title--mg {
  text-align: center;
  margin: 0 auto;
  margin-top: 59px;
  margin-bottom: 7px;
}

.product__options--mg {
  text-align: center;
  margin: 0 auto;
  text-transform: initial;
}

.product__picture-block {
  width: 140px;
  height: 112px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  }

.product__link-btn {
  display: block;
  line-height: 20px;
  padding: 10px 44px;
  background-color: $basic-grey;
  color: $font-grey;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  width: 100%;
  border: none;
  margin-top: 22px;
  transition: 0.3s all;

  &--font {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
  }

  &:hover {
    transition: 0.3s all;
    background-color: $basic-grey;
    color: $font-grey;
  }

  &:focus {
    transition: 0.3s all;
    background-color: $dark-grey;
    color: $font-grey;
  }

  &:active {
    transition: 0.3s all;
    background-color: $dark-grey;
    color: rgba(68, 68, 68, 0.3);
  }
}



@media (min-width: $tablet-width) {
  .product__container {
    flex-direction: column;
  }

  .product__picture-block {
    width: 100%;
    text-align: center;
  }

  .product__description {
    width: 100%;
  }

  .product__link {
    padding: 10px 0;
    margin-top: 13px;
  }

  .product__title {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    padding-top: 52px;
    margin: 0 auto 13px;

    &--wd {
      max-width: 60%;
    }
  }

  .product__options {
    font-size: 16px;
    line-height: 16px;
  }

  .product__table {
    width: 98%;
    margin-bottom: 33px;
    margin: 0 0 20px 0;
  }

  .product__row {
    height: auto;
    padding-bottom: 8px;
    padding-top: 6px;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #cdcdcd;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
  }

  .product__image--small-img {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 82px;
    top: -43px;
  }

  .product__image--big-img {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 78px;
    top: -71px;
  }

  .product__title--mg {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    padding: 160px 0 0;
    width: 70%;
    margin: 0 0 20px 15%;
  }

  .product__options--mg {
    padding: 0;
    text-align: center;
    text-transform: initial;
    line-height: 18px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2px;
  }

  .product__container--icon::before {
    content: '';
    position: absolute;
    top: 53px;
    left: 38%;
    background-image: url(../img/plus-tablet.svg) no-repeat;
    width: 60px;
    height: 60px;
    background-size: cover;
  }

  .product__link-btn {
    padding: 9px 44px;
    margin-top: 86px;
    width: 160px;
  }

  .product-image {
    margin: 0;
    padding: 0;
    &--chicken-500 {
      width: 161px;
      height: 172px;
    }

    &--chicken-1000 {
      width: 168px;
      height: 206px;
    }

    &--fish-500 {
      width: 163px;
      height: 174px;
    }

    &--fish-1000 {
      width: 168px;
      height: 200px;
    }

    &--grechka-500 {
      width: 161px;
      height: 171px;
    }

    &--grechka-1000 {
      width: 168px;
      height: 200px;
    }

    &--rise-500 {
      width: 163px;
      height: 174px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product__title {
    width: 100%;
    line-height: 21px;
    margin: 0 11px;
    margin-bottom: 17px;
  }

  .product__title--wd {
    max-width: 154px;
  }

  .product__options {
    font-size: 16px;
    line-height: 16px;
  }

  .product__table {
    width: 100%;
    padding: 0px 0px 0 3px;
  }

  .product__link {
    padding: 10px 0;
    width: 100%;
  }



  .product__title--mg {
    margin: 0;
  }

  .product__options--mg {
    width: 100%;
    margin-left: 0;
    margin-top: 23px;
  }

  .product__link-btn {
    padding: 10px 0;
    margin-top: 89px;
    width: 100%;
  }

  .product-image {
    margin: 0;
    padding: 0;
    &--chicken-500 {
      width: 161px;
      height: 172px;
    }

    &--chicken-1000 {
      width: 172px;
      height: 196px;
    }

    &--fish-500 {
      width: 163px;
      height: 174px;
    }

    &--fish-1000 {
      width: 172px;
      height: 196px;
    }

    &--grechka-500 {
      width: 161px;
      height: 171px;
    }

    &--grechka-1000 {
      width: 172px;
      height: 196px;
    }

    &--rise-500 {
      width: 163px;
      height: 174px;
    }
  }

}
