.product__container {
  display: flex;
  flex-wrap: wrap;
}

.product__picture-block {
  min-width: 140px;
  box-sizing: border-box;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
}

.product__image {
  height: auto;
}

.product__image--small-img {
  margin: 0;
  padding: 0;
  margin: 14px 36px 12px;
}

.product__image--big-img {
  margin: 0;
  padding: 0;
  margin: 11px 27px 1px;
}

.product__table {
  margin: 0;
  padding: 0;
  min-width: 140px;
  border-spacing: 0px 1px;
}

.product__title {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  color: $black;
  text-transform: uppercase;
}

.product__options {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
}

.product__options--title {
  text-align: left;
}

.product__options--value {
  text-align: right;
}

.product__link {
  display: block;
  line-height: 18px;
  padding: 10px 44px;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  width: 100%;
  border: none;
  margin-top: 8px;

  &--font {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.product__description {
  min-width: 140px;
}

.product__container--icon {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 3px;
    left: 45%;
    background-image: url(../img/plus.svg);
  }
}

.product__title--mg {
  text-align: center;
  margin: 0 auto;
  margin-top: 57px;
  margin-bottom: 7px;
}

.product__options--mg {
  text-align: center;
  margin: 0 auto;
  text-transform: initial;
}

.product__button-link {
  display: block;
  line-height: 20px;
  padding: 10px 44px;
  background-color: $basic-grey;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  width: 100%;
  border: none;
  margin-top: 22px;
}
