.promo-catalog {
  background-color: $white;
  margin: 0;
  padding: 0;
  border-top: 1px solid #d9d9d9;
}

.promo-catalog__container {
  min-width: 280px;
}

.promo-catalog__title {
  font-family: "Oswald", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  color: $black;
  margin-bottom: 40px;
  text-transform: initial;
  margin-left: 20px;
  margin-top: 27px;
}

.promo-catalog__wrapper-container {
  border-bottom: 1px solid #ebebeb;
  margin: 0 auto;
  color: $black;
  text-transform: uppercase;
}

.product__image--mg {
  margin-top: 5px;
}

//
@media (min-width: $tablet-width) {
  .promo-catalog {
    border: none;
  }

  .promo-catalog__container {
    width: 708px;
    margin: 0 auto;
  }

  .promo-catalog__wrapper-container {
    border-bottom: none;
    max-width: 708px;
    margin: 0 auto;
    justify-content: center;
  }

  .promo-catalog__title {
    margin-top: 0;
    margin-bottom: 163px;
    max-width: 708px;
    margin-left: 0;
    font-size: 60px;
    line-height: 60px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .promo-catalog {
    border: none;
  }

  .promo-catalog__container {
    max-width: 1220px;
    margin: 0;
    padding: 0;
  }

  .promo-catalog__title {
    margin-top: 80px;
    margin-bottom: 168px;
    max-width: 1220px;
    border: none;
  }

  .promo-catalog__wrapper-container {
    min-width: 1220px;
    max-width: 1220px;
    margin: 0 auto;
    justify-content: center;
  }
}
