.promo-catalog {
  background-color: $white;
  margin: 0;
  padding: 0;
    border-top: 1px solid #d9d9d9;

}

.promo-catalog__container {
  min-width: 280px;
}

.promo-catalog__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  color: $black;
  margin-bottom: 38px;
  border-bottom: 1px solid #ebebeb;
  text-transform: initial;
  margin-left: 20px;
}

//
@media (min-width: $tablet-width) {
  .promo-catalog__container {
    width: 708px;
    margin: 0 31px;
  }

  .promo-catalog__title {
    margin-top: 0;
    margin-bottom: 90px;
    max-width: 708px;
    margin-left: 0;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .promo-catalog__container {
    width: 1220px;
    margin: 0 110px;
  }

  .promo-catalog__title {
    margin-top: 74px;
    margin-bottom: 85px;
    max-width: 1220px;
  }

}
