.radio-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  padding: 30px 0 22px 0;
}

.radio-list__field {
  position: relative;
  cursor: pointer;
}

.radio-list__control {
  margin-right: 15px;
  cursor: pointer;
}

.radio-list__control[type=radio]:checked+.radio-list__mark::before {
  content: "";
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;

  &:hover {
    background-color: #68b738;
  }

  &:disabled {
    background-color: #68b738;
    opacity: 0.3;
  }
}

.radio-list__control:hover .radio-list__mark {
  outline: 1px solid #CDCDCD;
}

.radio-list__control:focus-visible + .radio-list__mark {
  border-color: #000000;
}

.radio-list__control:disabled + .radio-list__mark {
  border-color: #BABABA;
}

.radio-list__mark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.radio-list__name {
  @include list-reset;
  padding-left: 45px;
  font-family: "Oswald", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $grey-subtitle;
  text-transform: uppercase;

  &:focus-visible {
    color: $grey-subtitle;
  }

  &:hover {
    color: $grey-subtitle;
  }

  &:disabled {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .radio-list {
    padding: 28px 27px 28px 28px;
  }

  .radio-list__name {
    font-size: 20px;
    line-height: 30px;
  }

  .radio-list__mark {
    position: absolute;
    left: 0;
    top: 25%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: 1px solid $dop-grey;
    border-radius: 50%;

    &:focus-visible {
      border: 1px solid $dop-grey;
    }

    &:hover {
      border: 1px solid $dop-grey;
    }

    &:disabled {
      border: 1px solid rgba(73, 73, 73, 30%);
    }
  }

  .radio-list__control[type=radio]:checked+.radio-list__mark::before {
    position: absolute;
    top: 20px;
    left: 11px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-color: $basic-green;
    border-radius: 50%;
    content: "";
  }

  .radio-list__control[type=radio]:checked+.radio-list__mark::before:disabled {
    opacity: 0.3;
  }

  .radio-list__name {
    padding-left: 61px;
  }
}

@media (min-width: $desktop-width) {

  .radio-list {
    padding: 32px 27px 31px 28px;
  }

  .radio-list__name {
    padding-left: 59px;
  }
}
