.radio-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  padding: 30px 0 22px 0;
}

.radio-list__field {
  position: relative;
  cursor: pointer;
}

.radio-list__control {
  margin-right: 15px;
}

.radio-list__control[type=radio]:checked+.radio-list__name::before {
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";

  &:disabled {
    opacity: 0.3;
  }
}

.radio-list__field:hover .radio-list__mark {
  border: 1px solid #bababa;

  &:hover {
    border: 1px solid #bababa;
  }
  &:disabled {
    border: 1px solid rgba(73, 73, 73, 30%);
  }
}

.radio-list__mark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.radio-list__name {
  @include list-reset;
  padding-left: 45px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $grey-subtitle;
  text-transform: uppercase;

  &:hover {
    color: $grey-subtitle;
  }

  &:disabled {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .radio-list {
    padding: 28px 27px 28px 28px;
  }

  .radio-list__name {
    font-size: 20px;
    line-height: 30px;
  }

  .radio-list__mark {
    position: absolute;
    left: 0;
    top: 25%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: 1px solid $dop-grey;
    border-radius: 50%;

    &:hover {
      border: 1px solid $dop-grey;
    }

    &:disabled {
      border: 1px solid rgba(73, 73, 73, 30%);
    }
  }

  .radio-list__control[type=radio]:checked + .radio-list__name::before {
    position: absolute;
    top: 5px;
    left: 12px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-color: $basic-green;
    border-radius: 50%;
    content: "";
  }

  .radio-list__control[type=radio]:checked + .radio-list__name::before:disabled {
    opacity: 0.3;
  }

  .radio-list__name {
    padding-left: 61px;
  }
}

@media (min-width: $desktop-width) {}
