.slider {
  @include list-reset;
  position: relative;
  width: 280px;
  height: 256px;
  margin-bottom: 33px;
}

.slider__wrapper {
  @include list-reset;
  width: 280px;
  margin: 0 auto;
  justify-content: center;
}

.slider__demo {
  @include list-reset;
  position: relative;
}

.slide__scale {
  position: absolute;
  top: 0;
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    width: 560px;
    height: 512px;
  }
}

.slider__range {
  cursor: pointer;
  position: absolute;
  width: 256px;
  height: 4px;
  background-color: #666666;
  transform: rotate(90deg);
  top: 50%;
  left: 5%;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 512px;
    left: 14%;
  }
}

.slider__scale:hover,
.slider__scale:focus-visible {
  .slider__range {
    background-color: $basic-green;
  }

  .slider__toogle {
    background-image: url("../img/sprite.svg#slider-toggle2");
    background-repeat: no-repeat;
  }
}

.slider__scale:active.slider__range {
  background-color: #5eaa2f;
}

.slider__scale:active.slider__toogle {
  background: url("../img/sprite.svg#slider-toggle3") no-repeat;
  transition: 0.3s;
}

.slider__toogle {
  cursor: pointer;
  position: absolute;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: url("../img/sprite.svg#slider-toggle") no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  left: 43.3%;
  top: 42.3%;

  @media (min-width: $tablet-width) {
    position: absolute;
    background: url("../img/sprite.svg#slider-toggle") no-repeat;
    left: 47.2%;
    top: 47.2%;
  }
}

.slider__cat {
  width: 140px;
  height: 280px;
}

.slider__cat--thick {
  position: absolute;
  content: "";
  width: 140px;
  max-height: 256px;
  object-fit: cover;
  left: 0;
}

.slider__cat--thin {
  position: absolute;
  content: "";
  width: 140px;
  max-height: 256px;
  object-fit: cover;
  right: 0;
}

.slider__cat-thick {
  position: absolute;
  object-fit: cover;
  height: 256px;
  object-position: 0;
  width: 280px;
  top: 1%;
}

.slider__cat-thin {
  position: absolute;
  object-fit: cover;
  height: 256px;
  object-position: 100%;
  width: 280px;
  top: 0%;
  left: 0%;
}

@media (min-width: $tablet-width) {
  .slider {
    margin-top: 69px;
    height: 512px;
    min-width: 708px;
  }

  .slider__wrapper {
    width: 708px;
    margin: 0 auto;
    justify-content: center;
  }

  .slider__cat--thick {
    position: absolute;
    content: "";
    width: 280px;
    height: 512px;
    margin-left: 74px;
    object-fit: cover;
  }

  .slider__cat--thin {
    position: absolute;
    content: "";
    width: 280px;
    height: 512px;
    margin-right: 74px;
    object-fit: cover;
  }

  .slider__cat-thick {
    position: absolute;
    object-fit: cover;
    height: 512px;
    object-position: 0;
    width: 560px;
    top: 1%;
  }

  .slider__cat-thin {
    position: absolute;
    object-fit: cover;
    height: 512px;
    object-position: 100%;
    width: 560px;
    top: 0%;
    left: 0%;
  }

  .slider__toogle {
    top: 46.2%;
  }
}

.slider__cat-thick,
.slider__cat-thin {
  object-fit: cover;
}

@media (min-width: $desktop-width) {
  .slider {
    position: absolute;
    width: 560px;
    height: 512px;
    margin: 0;
    justify-content: center;
    top: -369px;
    right: -73px;
  }

  .slider__cat--thick {
    position: absolute;
    content: "";
    width: 280px;
    height: 512px;
  }

  .slider__cat--thin {
    position: absolute;
    content: "";
    width: 280px;
    height: 512px;
    left: 50%;
    background-position-x: 100%;

    @media (min-resolution: 2dppx) {
      background-position-x: -280px;
    }
  }
}
