.slider {
  @include list-reset;
  position: relative;
  width: 280px;
  height: 256px;
  margin-bottom: 33px;
}

.slider__wrapper {
  @include list-reset;
  width: 280px;
  margin: 0 auto;
  justify-content: center;
}

.slider__demo {
  @include list-reset;
  position: relative;
}

.slide__scale {
  position: absolute;
  top: 0;
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {}
}

.slider__range {
  position: absolute;
  width: 256px;
  height: 4px;
  background-color: #666;
  transform: rotate(90deg);
  top: 50%;
  left: 4%;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 512px;
    left: 14%;
  }

  @media (min-width: $desktop-width) {}
}

.slider__toogle {
  position: absolute;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: url(../img/slider-toggle.svg) no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  left: 42.3%;
  top: 42.3%;

  @media (min-width: $tablet-width) {
    position: absolute;
    background: url(../img/slider-toggle.svg) no-repeat;
    left: 47.2%;
    top: 47.2%;
  }

  @media (min-width: $desktop-width) {}
}

.slider__cat--thick {
  position: absolute;
  content: "";
  width: 140px;
  height: 256px;
  background: url(../img/slider/cat-thick-sl-mobile@1x.png) no-repeat;
  background-size: cover;
  left: 0;
  background-position-x: 1px;

  @media (min-resolution: 2dppx) {
    background: url(../img/slider/cat-thick-sl-mobile@2x.png) no-repeat;
    background-size: cover;
  }


}

.slider__cat--thin {
  position: absolute;
  content: "";
  width: 140px;
  height: 256px;
  background: url(../img/slider/cat-thin-sl-mobile@1x.png) no-repeat;
  background-size: cover;
  right: 0;
  background-position-x: -140px;
}

@media (min-width: $tablet-width) {
  .slider {
    margin-top: 74px;
    height: 512px;
    min-width: 708px;
  }

  .slider__wrapper {
    width: 708px;
    margin: 0 auto;
    justify-content: center;
  }

  .slider__cat--thick {
    position: absolute;
    content: "";
    width: 280px;
    height: 512px;
    background: url(../img/slider/cat-thick-sl-tablet@1x.png) no-repeat;
    background-size: cover;
    margin-left: 74px;

    @media (min-resolution: 2dppx) {
      background: url(../img/slider/cat-thick-sl-tablet@2x.png) no-repeat;
      background-size: cover;
    }
  }

  .slider__cat--thin {
    position: absolute;
    content: "";
    width: 280px;
    height: 512px;
    background: url(../img/slider/cat-thin-sl-mobile@1x.png) no-repeat;
    background-size: cover;
    margin-right: 74px;


    @media (min-resolution: 2dppx) {
      background: url(../img/slider/cat-thin-sl-tablet@2x.png) no-repeat;
      background-size: cover;
      background-position-x: -280px;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    position: absolute;
    width: 560px;
    height: 512px;
    margin: 0;
    justify-content: center;
    top: -368px;
    right: 0;
  }

  .slider__cat--thick {
    position: absolute;
    content: "";
    width: 280px;
    height: 512px;
    background: url(../img/slider/cat-thick-sl-tablet@1x.png) no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url(../img/slider/cat-thick-sl-tablet@2x.png) no-repeat;
      background-size: cover;
    }
  }

  .slider__cat--thin {
    position: absolute;
    content: "";
    width: 280px;
    height: 512px;
    background: url(../img/slider/cat-thin-sl-mobile@1x.png) no-repeat;
    background-size: cover;
    left: 50%;
    background-position-x: 100%;

    @media (min-resolution: 2dppx) {
      background: url(../img/slider/cat-thin-sl-tablet@2x.png) no-repeat;
      background-size: cover;
      background-position-x: -280px;
    }
  }
}
