.slider {
  @include list-reset;
  width: 280px;
  height: 256px;
}

.slider__wrapper {
  @include list-reset;
  max-width: 280px;
  margin: 0 auto;
  justify-content: center;
}

.slider__demo {
  @include list-reset;
  position: relative;
}

.slider__cat::before {
  position: absolute;
  content: "";
  width: 280px;
  height: 256px;
  background: url(../img/slider/thick-cat-x1.png) no-repeat;
  background-size: cover;
}

.slider__cat::after {
  position: absolute;
  content: "";
  width: 280px;
  height: 256px;
  background: url(../img/slider/thin-cat-x1.png) no-repeat;
  background-size: cover;
}

.slider__cat::after {

}

@media (min-width: $tablet-width) {
  .slider {
    margin-top: 74px;
    height: 512px;
    margin: 0 auto;
  }

  .slider__wrapper {
    width: 708px;
    margin: 0 auto;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
  }
}
