$color-nav-border: #e6e6e6;

$basic-green: #68b738;
$basic-green-state: #5eaa2f;
$white: #ffffff;
$basic-grey: #f2f2f2;
$black: #000000;
$dark-grey: #ebebeb;
$font-grey: #444444;
$border-color: #e6e6e6;
$bg-grey: #eaeaea;
$border-block: #e7e7e7;
$bg-grey: #d9d9d9;
$dop-grey: #cdcdcd;
$grey-subtitle: #222222;
$invalid-color: #ff8282;

// Viewports //

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 320px;

