$color-nav-border: #E6E6E6;

$basic-green: #68B738;
$white: #FFFFFF;
$basic-grey: #F2F2F2;
$black: #000000;

// Viewports //

$tablet-width: 708px;
$desktop-width: 1220px;
$mobile-width-only: 767px;

