$color-nav-border: #E6E6E6;

$basic-green: #68B738;
$white: #FFFFFF;
$basic-grey: #F2F2F2;
$black: #000000;
$dark-grey: #EBEBEB;
$font-grey: #444444;
$border-color: #E6E6E6;
$bg-grey: #EAEAEA;
$border-block: #E7E7E7;
$bg-grey: #D9D9D9;
$dop-grey: #cdcdcd;
$grey-subtitle: #222222;

// Viewports //

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 320px;

