// Добавляем базовые свойства
@import "./base/fonts.scss";
@import "./base/base.scss";

// Добавляем миксины и переменные
@import "./global/mixins.scss";
@import "./global/variables.scss";

// Добавляем блоки и компоненты
@import "./blocks/main-header.scss";
@import "./blocks/logo-text.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site-list.scss";
@import "./blocks/promo.scss";
@import "./blocks/components/btn.scss";
@import "./blocks/program.scss";
@import "./blocks/instruction.scss";
@import "./blocks/example.scss";
@import "./blocks/cooperation.scss";
@import "./blocks/footer.scss";
@import "./blocks/social-list.scss";
@import "./blocks/components/promo-catalog.scss";
@import "./blocks/catalog.scss";
@import "./blocks/components/product.scss";
@import "./blocks/add-catalog.scss";
@import "./blocks/form.scss";
@import "./blocks/question.scss";
@import "./blocks/components/slider.scss";
@import "./blocks/components/radio.scss";
@import "./blocks/components/program-checkbox.scss";
